[2017-06-06 21:54] tdruez opened #1 "Ability to query the public CVE-search instance and return vulnerabilities"
Given a `package identifier` input, return if there is a known vulnerability for it.

Package identifiers:
- name
- name+version

Behind the scenes:
1. Query the CVE-search API and try to find a match for the package
2. Return results

Step 1. would after that be replaced by a local query, to the local db, where the aggregated and correlated vulnerability data would be populated from the scrapers,

[2017-06-16 09:12] kartiksibal opened #3 "django based app, which combines DRF api & cve-search instance."
To Do:

1. Initialise a django based app. ✅
2. Using the cve-search api code return CVE-IDS. ✅
3. Output the data in JSON format. ❎

__EDIT:__

Additions in second point:

1. CVSS Score ❎
2. Summary ❎
3. URL ❎

[2017-06-16 09:13] kartiksibal commented on #3
@tdruez @pombredanne Please guide any changes that might be necessary in the todo,

thanks

[2017-06-17 13:58] pombredanne commented on #3
sure!

[2017-06-29 10:53] pombredanne opened #5 "Define basic models for storing essentials of vulnerabilities, packages and their relations"
Here is a rough sketch:
![vulnerablecode-prototype-models](https://user-images.githubusercontent.com/675997/27684353-f70208d0-5cc9-11e7-9f65-158b8c57f57a.png)

[2017-06-29 10:55] pombredanne opened #6 "Scrape Debian security advisories"
The goal is to collect and store these in our models

[2017-06-29 10:55] pombredanne opened #7 "Scrape Ubuntu advisories"
and store in models

[2017-06-29 10:58] pombredanne opened #8 "Create JSON API that accepts a scancode package name and version"
.... and return essential data about the found vulnerability if any with
- vulnerabilities references
- packages references

[2017-06-29 10:59] pombredanne opened #9 "Scrape cve-search for vulnerabilities and package references"
And store these in our models

[2017-06-29 11:06] pombredanne commented on #1
Merged. Closing

[2017-06-29 11:06] #1 closed

[2017-06-29 11:07] pombredanne commented on #3
Merged. Closing. This is a basic API that does not use DFR for now,

[2017-06-29 11:07] #3 closed

[2017-06-29 11:09] pombredanne opened #10 "Add basic requirements for prod and tests"

[2017-06-29 11:12] pombredanne opened #11 "Flesh README to explain the basic and minimal getting started"
We need to have a proper README

[2017-06-29 11:22] pombredanne opened #12 "Setup Travis for CI tests"

[2017-06-29 11:22] pombredanne commented on #12
We should be testing only on Linux for now

[2017-07-07 18:52] tdruez commented on #11
@kartiksibal can you add some basic content in the current README.md file?
On how to get started:
- clone the repo
- create the DB (run migration)
- run the tests
- run the webserver
...

[2017-07-14 00:39] tdruez commented on #12
See https://github.com/nexB/vulnerablecode/blob/develop/.travis.yml

[2017-07-14 00:39] #12 closed

[2017-07-14 00:39] tdruez commented on #11
https://github.com/nexB/vulnerablecode/blob/develop/README.md

[2017-07-14 00:39] #11 closed

[2017-07-14 00:39] tdruez commented on #10
https://github.com/nexB/vulnerablecode/blob/develop/requirements.txt

[2017-07-14 00:39] #10 closed

[2017-07-14 00:40] tdruez commented on #5
@pombredanne can you review the current models?
 https://github.com/nexB/vulnerablecode/blob/develop/app/vulncode_app/models.py

[2017-07-14 16:03] tdruez commented on #6
From https://github.com/nexB/vulnerablecode/pull/14#issuecomment-315236716

@kartiksibal the current data structure for the returned CVEs is not easily usable, instead of the current 3 lists of strings, we should return a single list of CVEs dictionaries.

Instead of:
[code]

Return:
[code]
It will be much easier to use that data structure to then create model instances (save the data in the DB).

[2017-07-18 06:16] #7 closed

[2017-07-18 08:47] #5 closed

[2017-07-20 10:54] kartiksibal opened #16 "Collect Debian vulnerability data"
Debian security page is at : https://security-tracker.debian.org/tracker/
The main data source is a json file at:  https://security-tracker.debian.org/tracker/data/json

[2017-07-20 15:43] #6 closed

[2017-07-21 17:06] tdruez commented on #16
We are moving on using the JSON dataset available at https://security-tracker.debian.org/tracker/data/json to collect the full scope of data needed in vulnerablecode.

@kartiksibal please describe here the pieces that need to be extracted from that dataset and how you plan to structure the results.

[2017-07-21 17:17] kartiksibal commented on #16
@tdruez Our aim here is to:

1. extract package name
2. extract the subsequent cve-ids
3. the cve-ids further contain data.

We need references, summary(s) and package details.
Which we require to establish strong vulnerability-package ties.
this data will then be cross-referenced with out cve-search' data.

The same will be done for Ubuntu, the only difference being it's in `XML` and debian is in

[2017-07-21 18:03] kartiksibal opened #18 "Improve vulnerability severity or scoring storage design"
We presently have just `CVSS` as a vulnerability severity indicator. Some datasets classify vulnerability as a textual indicator, `High`, `Low`, etc.

**We can add:**

[code]

This will ensure that we can save both `Textual` & `Non-CVSS` severity indicators, that any dataset provides.

[2017-07-21 18:11] pombredanne commented on #18
@kartiksibal could you document here some of the scoring or severity information available elsewhere? such that we have a reasonable sampling of the different ways that exist?

[2017-07-21 21:42] tdruez commented on #16
The dataset input is https://security-tracker.debian.org/tracker/data/json
A sample is available at https://pastebin.com/HmagZBm6

The scraper job is to collect and transform that input into the following format:
[code]

[2017-07-21 22:35] pombredanne commented on #16
@tdruez :+1:

[2017-07-21 22:40] pombredanne commented on #16
@kartiksibal I am not even sure  that any transformation is needed in this json?
why not just iterate this and update/insert data in the models?

[2017-07-22 09:54] pombredanne commented on #16
@kartiksibal JSON does not need to be "scraped"... this is structured data. You just iterate and transform it as needed.... for instance something such as
[code]
As you go, you do something with the data such as creating whatever structures you need

[2017-07-22 10:24] pombredanne opened #19 "Collect Ubuntu vulnerability data"
There are a couple ways to get Ubuntu vulnerabilities data from the main https://people.canonical.com/~ubuntu-security page:

1. An XML oval feed at https://people.canonical.com/~ubuntu-security/oval/
2. HTML pages that can be scraped at https://people.canonical.com/~ubuntu-security/cve/ ... for instances at https://people.canonical.com/~ubuntu-security/cve/main.html
3. possibly other sources such

[2017-07-22 15:33] pombredanne opened #20 "Collect vulnerabilities from arch linux"
The data is available at https://security.archlinux.org/

[2017-07-22 15:36] pombredanne opened #21 "Collect vulnerabilities from Snyk"
The data is at https://github.com/snyk/vulnerabilitydb and covers some maven, npm and rubygems vulnerabilities. The license of the data is AGPL, and the impact of such a software license on other data is not clear and needs to be clarified before doing anything with this

[2017-07-23 16:21] kartiksibal opened #22 "Essential modifications required in Models."
![27684353-f70208d0-5cc9-11e7-9f65-158b8c57f57a](https://user-images.githubusercontent.com/10362901/28500472-8bbfcef6-6fe6-11e7-8767-4a243837c726.png)

This is our present model.

**Some things to consider:**

1. CVSS should be in `Vulnerability Reference` and not in `Vulnerability`, since, CVSS scores are assigned to particular `CVE-IDs`
2. There should be some distinction in b/w a vulnerable pac

[2017-07-23 16:44] pombredanne commented on #22
Can you outline here or push some branch with new models?

[2017-07-26 02:58] kartiksibal opened #23 "Should we store data of Debian releases apart from Jessie?"
We are presently storing data for just Debian's Jessie release. Should we store data of other releases, too?

[2017-07-26 08:05] tdruez commented on #16
Closing this one, see https://github.com/nexB/vulnerablecode/issues/23 for the collection of others Debian releases.

[2017-07-26 08:05] #16 closed

[2017-07-26 11:01] kartiksibal commented on #19
In the OVAL data there isn't as much detail about packages, as much we'd like to establish a good package-vulnerability tie. There's a great deal of data, specifically about vulnerabilities, not so much about packages which is our key area.

[2017-07-27 07:43] pombredanne commented on #18
@kartiksibal you wrote:

Leave it out for now

[2017-07-27 07:44] kartiksibal commented on #18
@pombredanne Noted. 👍

[2017-07-27 10:24] kartiksibal opened #24 "Collect data from scrapers and dump in the database."
All code related to dumping data collected from scrapers will be referenced with this issue.

[2017-08-08 11:56] #24 closed

[2017-08-08 13:05] #19 closed

[2017-08-16 17:26] pombredanne commented on #8
I suggest this instead:
[code]

[2017-08-16 17:27] pombredanne commented on #8
and for each package version that is impacted if we have have resolved versions, these should be listed too as a list

[2017-08-17 08:21] tdruez commented on #8
From DRF documentation on relations http://www.django-rest-framework.org/api-guide/relations/#nested-relationships

Let me give you an example to serialize the related `PackageReference` objects within the `PackageSerializer`

[code]

[code]

@kartiksibal You can apply the same serialization logic to include `vulnerabilities` on the `PackageSerializer`.

[2017-08-17 08:32] tdruez opened #27 "Relationships between a Package and Vulnerability are not created"
During the data dump, `debian_dump` and `ubuntu_dump` https://github.com/nexB/vulnerablecode/blob/develop/app/vulncode_app/data_dump.py#L29 and https://github.com/nexB/vulnerablecode/blob/develop/app/vulncode_app/data_dump.py#L47

The Vulnerability and Package objects are created but not the relationship (`ImpactedPackage`, `ResolvedPackage`) between the 2.

This make the data un-usable.

[2017-08-17 08:34] kartiksibal commented on #27
Yes, I had looked into that and updated. This will reflect in the next commit.

[2017-08-20 21:04] kartiksibal commented on #8
@pombredanne @tdruez
[code]

Is the present output format. It's a little tricky converting it into the output we discussed above. Any heads up?

[2017-08-20 21:05] #27 closed

[2017-08-21 16:28] kartiksibal commented on #8
[code]

[2017-08-21 17:41] kartiksibal commented on #8
Changed output:
[code]

The issue: Duplicates.

[2017-08-21 18:45] kartiksibal opened #28 "Evolve logics to deal with duplicates in data."
Example of:` GET /vulncode_app/data/prototypejs`
[code]

[2017-08-22 12:04] pombredanne commented on #8
@kartiksibal what is wrong with my suggestion in https://github.com/nexB/vulnerablecode/issues/8#issuecomment-322842164 which matches well our data models?

[2017-08-22 12:08] kartiksibal commented on #8
@pombredanne umm, nothing? 😕
The data output is exactly as you told.

[2017-08-22 12:10] pombredanne commented on #8
Actually you are flattening the vulnerabilities references and keep only the id and duplicating the summary so this is not what I had suggested

[2017-08-22 12:11] pombredanne commented on #8
You are also listing vulnerabilities separately from a package version and listing package version on their own without their corresponding vulnerabilities nested there.

[2017-08-22 12:14] pombredanne commented on #8
The whole idea of the serializers is that you create the serializer structure (e.g. tree) that models your output and then pass a queryset to your top level serializer.

[2017-09-12 16:59] kartiksibal opened #29 "Evolve data dump to store or not to store data without a package name."
In reference to: https://github.com/nexB/vulnerablecode/pull/26#discussion_r135234371

Data dump logic shouldn't store data incase there isn't a package name / version associated with it.

[2017-09-21 14:39] tdruez opened #30 "Refactor the current API view into a proper DRF view"
From https://github.com/nexB/vulnerablecode/pull/26#discussion_r138486436

I would expect the returned payload to have some "header" data (e.g. some tool version, what was the query made, number of results returned, ... And to have the list of packages returned under the packages: element

See http://www.django-rest-framework.org/api-guide/generic-views/ and http://www.django-rest-framework.org/ap

[2017-11-16 23:16] kartiksibal commented on #30
@pombredanne Regarding header data, you mean something similar to something that is added in ScanCode's JSON based results?

[2017-11-17 03:09] tdruez commented on #30
@kartiksibal the header data was added thanks to the PackageViewSet in the latest commits.
The API now return proper headers  `count`, `next`, `previous`.
No need to add more at this point until there's a need for it.

Current shape of the API data on the Packages endpoint:
[code]

[2017-11-17 03:09] #30 closed

[2017-11-17 03:10] #8 closed

[2018-05-17 14:18] pombredanne opened #32 "Use package URLs for packages"
See https://github.com/package-url

[2019-02-26 17:30] lohani2280 commented on #20
@pombredanne I want to work on this issue. Can I take this up?.

[2019-02-26 17:36] pombredanne commented on #20
@lohani2280 sure thing! that's very gentle of you: thank you for considering this.
Though you have to keep in mind that https://github.com/nexB/vulnerablecode/issues/32 may need to be done first and is higher priority.

[2019-02-26 17:38] lohani2280 commented on #32
@pombredanne Can you please elaborate this a bit more?

[2019-02-26 17:46] pombredanne commented on #32
Sure, the first step would be to understand the spec at https://github.com/package-url/purl-spec then contemplate how this could be integrated in the code here

[2019-02-27 12:03] lohani2280 commented on #20
The dataset input is https://security.archlinux.org/json
Current format of the data is-
[code]
I am trying to make a scraper to collect the full scope of data needed in vulnerablecode.
Among the important pieces that I plan to extract from that dataset are:
* package name
* vulnerability id
* status
* severity
* affected version
* fixed version

@pombredanne Please give your reviews on this. Shall

[2019-02-27 14:27] pombredanne commented on #20
that sounds about right, but how would you map this to the actual models? and did you see my comment above wrt. package URLs aka purl?

[2019-02-27 18:35] lohani2280 commented on #20
@pombredanne Well to map this to the actual model I'll implement a method `archlinux_dump` in the `vulnerabilities/data_dump.py` file.

Yeah I have seen your comment about purl. Actually I was going through the codebase to understand the architecture of the entire project so just thought to try this issue first to get more familiarity with the existing codebase.

[2019-02-27 18:39] lohani2280 commented on #32
@pombredanne I am on it. Will get back very soon.

[2019-02-28 04:21] lohani2280 commented on #32
@pombredanne I have gone through the spec at https://github.com/package-url/purl-spec and developed a basic understanding about package URLs.
So for this task I think we should create a new endpoint and pass the package URLs as a string. On the server side we can use the purl parser to parse the purl string into its component and then use the name and version of the package extracted from the purl

[2019-02-28 22:17] pombredanne commented on #32
@lohani2280 actually the 1st step would likely to deal with the data models and structure and use a package url throughout for proper. The package url package has a contrib module with a django model mixin that should be good for starters. The update to the API would come rather naturally from that and should be accepting a purl and return vulnerabilities.

[2019-03-04 09:27] lohani2280 commented on #32
Currently requesting the server with package name/version returns the vulnerabilities associated with that package. Present way of requesting the server is-
`api/packages/?name=mimetex&version=1.50-1.1`

Do you want to incorporate changes such that the user request the server with purl and not through package name/version and the server returns back vulnerabilities?. Thus, the final way of request

[2019-03-05 07:32] pombredanne commented on #32
@lohani2280 yes, once purls are added to the models and used throughout, then the API should use these as opposed to name version (and we could also later accept too the set of discrete purl fields  too)

[2019-03-09 18:46] lohani2280 opened #34 "Package.version field needs proper definition"
Currently, if I look at the JSON data from debian security tracker I find that it does not say which version is vulnerable but it says which is resolved/fixed. However,  if I look at the JSON data from arch linux security tracker I find that it contains both fixed version as well as vulnerable version. This creates ambiguity while dumping the data to the `Package.version` field. While in the case

[2019-03-09 18:51] pombredanne commented on #34
You need to create as many packages as needed. Then update the relationships ImpactedPackage and ResolvedPackage between these packages and your vulnerability.

![VulnerableCode prototype models](https://user-images.githubusercontent.com/675997/54075877-b3325200-42a4-11e9-8b70-ef4a88a17b39.png)

[2019-03-14 13:55] lohani2280 opened #35 "Missing to store data for all Debian "releases""
Currently for debian vulnerability data,  we are missing to store all the affected/resolved version for each of the various distro "releases".
**Example:**
Following is the JSON snippet taken from debian security tracker:
[code]
Following is the final set of created records:
[code]
As we can see clearly it is missing to store all the affected/resolved version for each of the various distro "releas

[2019-03-26 08:31] pombredanne opened #36 "Consider this source of vulnerabilities advisories"
https://github.com/vmware/photon/wiki/Security-Advisories

[2019-03-26 09:12] pombredanne opened #37 "Add retire.js repo data"
https://github.com/RetireJS/retire.js/tree/master/repository

[2019-03-26 15:41] lohani2280 opened #38 "Incorrect mapping of debian packages"
While going through the debian security tracker data, I noticed that it contains fixed_version data. But in the data_dump file the mappings are created in the ImpactedReference table. See here https://github.com/nexB/vulnerablecode/blob/55a633db3c09d8b78d21bffea25a510e1444acdf/vulnerabilities/data_dump.py#L46. But logically it should be ResolvedReference table.

[2019-03-30 20:09] lohani2280 commented on #34
@pombredanne Closing this as this is clear to me now.

[2019-03-30 20:09] #34 closed

[2019-04-02 16:20] pombredanne commented on #20
the advisories at https://security.archlinux.org/advisory/json  would also need to be handled

[2019-04-04 07:09] singh1114 opened #39 "Add pylint."
Add pylint to CI, to check basic things in the code.

[2019-04-04 07:11] singh1114 opened #40 "Replace objects.create with objects.update_or_create."
Replace objects.create with objects.update_or_create along with new tests regarding this.

[2019-04-04 07:18] pombredanne commented on #39
Actually using pycodestyle may be moe aligned with other tests done. See https://github.com/nexB/aboutcode-toolkit/blob/dde73cbe462734bd4098508aa27234658781647f/tests/test_validate.py#L34

[2019-04-04 07:20] pombredanne commented on #40
When you craft a ticket please make sure this is a statement of problem rather than a small solution like here.

The problem to have a ticket for is to support re-fetching vulnerability data from each source and handle properly the act that some data is the same and has not changed and some data has been updated.

[2019-04-04 08:25] singh1114 commented on #39
@pombredanne Agreed.

[2019-04-04 08:26] singh1114 commented on #40
@pombredanne Will keep that in mind.

[2019-04-04 10:15] pombredanne opened #41 "Add support for Microsoft vulnerabilities and CVRF"
MSFT releases their vulnerabilities using this CVRF format https://www.icasi.org/cvrf/

See https://github.com/Microsoft/MSRC-Microsoft-Security-Updates-API for details

@mschiffm https://github.com/mschiffm/cvrfparse is a library to likely handle this alright

[2019-04-06 08:29] singh1114 commented on #39
@pombredanne I think it's already there in the CI.

[2019-04-07 07:31] pombredanne opened #43 "Collect Alpine"
https://github.com/alpinelinux/alpine-secdb

[2019-04-07 07:31] pombredanne opened #44 "Collect Red Hat RHSA"
https://www.redhat.com/security/data/oval/
http://www.redhat.com/security/data/oval/com.redhat.rhsa-all.xml
https://www.redhat.com/security/data/metrics/

See also the API such as at https://access.redhat.com/hydra/rest/securitydata/cvrf.json
https://access.redhat.com/documentation/en-us/red_hat_security_data_api/1.0/html/red_hat_security_data_api/index and https://access.redhat.com/articles/22188

[2019-04-08 14:32] #39 closed

[2019-04-08 14:38] singh1114 opened #46 "SECRET_KEY should never be commited."
There is a secret key in the settings file. Secret key should never be committed to version control.

https://docs.djangoproject.com/en/2.1/ref/settings/#secret-key

https://github.com/nexB/vulnerablecode/blob/develop/vulnerablecode/settings.py#L22

[2019-04-09 20:29] lohani2280 commented on #20
**TODOs** :-
Collect all the  vulnerability references that are listed on the link `https://security.archlinux.org/vulnerability_id`

[2019-04-11 21:06] pombredanne commented on #20
#33 has been merged bu there are  few extra thing to consider to complete this:
1. we need more tests
2. I do not like the name "scraping" or "scraper". We are inventorying, collecting, referencing, harvesting but certainly not scraping.

[2019-04-12 07:21] pombredanne commented on #46
@singh1114 good point, but this is not used in production at all, so this never might be an issue. @tdruez what would be the best practice though? a locally generated file?

[2019-07-10 16:41] puneeth2001 opened #47 "Improve setup instructions in README"

[2019-07-11 11:35] puneeth2001 commented on #38
@lohani2280 @pombredanne Can you check this PR #48

[2019-07-11 13:19] TG1999 commented on #46
@pombredanne, @singh1114  I think we can store the secrets inside a file called secret.py and import in the file we want and then gitignore the secret.py file. And can tell in readme to user to setup a secret.py file inside their local clone and enter their config their .If approach looks good should I make a PR for it. :)

[2019-07-11 15:40] puneeth2001 commented on #38
@lohani2280 I guess that this is the same case in ubuntu and archlinux packages also, can you please check it once.

[2019-08-17 06:10] udaykor opened #50 "Django - SQL Injection possibility"
Q: Is Django for this project? Decoupling Django might simplify the needs as well as make it agnostic (IMHO).
Djano - SQL Injection possibility in key and index lookups for JSONField/HStoreField
- Upstream
https://docs.djangoproject.com/en/dev/releases/2.2.4/
- Trigger
GitHub automated examination of python Dependencies
- URL
[https://nvd.nist.gov/vuln/detail/CVE-2019-14234](https://nvd.nist.gov/v

[2019-08-22 10:20] #50 closed

[2019-09-17 16:54] haikoschol opened #54 "Provide CLI for data import"
Implement a custom [Django management command](https://docs.djangoproject.com/en/2.2/howto/custom-management-commands/) that allows

- listing all available data sources
- importing data from one or more sources by name (e.g. "debian")
- importing data from all sources

[2019-09-17 17:01] haikoschol opened #55 "Collect NixOS"
https://github.com/NixOS/security

[2019-09-17 17:04] haikoschol opened #56 "Publish package on PyPI"

[2019-09-18 04:33] #47 closed

[2019-09-18 04:41] #46 closed

[2019-09-19 16:23] haikoschol commented on #38
Whether a record from a security tracker is stored as `ImpactedPackage` or `ResolvedPackage` should be decided based on the `status` field, or other fields that imply the status.

For Archlinux, [the code](https://github.com/nexB/vulnerablecode/blob/42f4668aacc01c39765f88c66d68e430b868bc6a/vulnerabilities/data_dump.py#L109) looks fine. However, if a record does not include a version in the `fixed`

[2019-09-23 08:04] #54 closed

[2019-09-25 15:58] haikoschol opened #59 "Use OVAL export for Ubuntu vulnerabilities source"
The current data source for Ubuntu vulnerability information is [an HTML page](https://people.canonical.com/~ubuntu-security/cve/main.html). Apart from the fact that this is not really meant to be machine-readable, it also does not include version information for affected/fixed packages.
Looking at https://github.com/coreos/clair/issues/804, it seems that the source we want to use are XML files in

[2019-09-25 16:09] mjherzog commented on #59
fyi...https://security.stackexchange.com/questions/134269/how-to-read-cve-2016-5696-correctly

[2019-09-25 16:16] haikoschol commented on #44
Or maybe CVRF? https://www.redhat.com/security/data/cvrf/

[2019-09-25 16:18] haikoschol opened #61 "Collect NodeJS"
https://github.com/nodejs/security-wg/tree/master/vuln

[2019-09-25 16:19] haikoschol opened #62 "Collect SUSE"
https://www.suse.com/support/security/cvrf/

[2019-09-25 16:39] haikoschol commented on #59
@mjherzog thanks. So I guess you are saying it is possible to determine the affected/fixed versions by following links to vulnerabilities and parsing more HTML. I'd still rather use the OVAL data if possible.

[2019-09-25 18:48] mjherzog commented on #59
@haikoschol I was just sharing some background information to help me understand the HTML page. I am not suggesting that we should parse the HTML - OVAL sounds better.

[2019-09-26 08:37] pombredanne opened #63 "Track licenses for each data pointers and records"
We need to decide what we want to do wrt. licenses for data.
See https://cve.mitre.org/about/termsofuse.html for instance for the CVE/NVD.
There are a few ways to think about this:
1. we are storing only pointers so there is no licenses issues to track as we are not storing third-party data
2. we are storing only pointers and caching existing data so we should handle this in a way similar to what

[2019-09-26 08:38] pombredanne commented on #63
Another take on this topic: we are building open tools to collect, aggregate and redistribute a free and open software vulnerability database. At a high level we are keeping pointers/references and relate together many vulnerability records and software package versions they impact.

A pointer/reference is typically a URL and an ID to vulnerability information and to packages such as these below t

[2019-09-26 09:28] pombredanne commented on #62
Here are a few candidate CVRF libraries and pointers that may be of some help:
- @mprpic https://github.com/mprpic/advisory-parser (which has quite a few interesting formats beyond CVRF)
- @mschiffm https://github.com/mschiffm/cvrfparse
- https://github.com/oasis-open/csaf-parser
- https://github.com/sdrees/cvrf-util
- https://github.com/efrenfuentes/cvrfparse

And articles or specs:
  - https://b

[2019-09-26 09:30] pombredanne commented on #41
See also the updated pointers for CVRF in https://github.com/nexB/vulnerablecode/issues/62#issuecomment-535420939

[2019-09-26 09:37] pombredanne opened #64 "Collect AIX /IBM security advisories"
See http://aix.software.ibm.com/aix/efixes/security and ftp://aix.software.ibm.com/aix/efixes/security

[2019-09-26 09:44] pombredanne opened #65 "Collect CentOS vulnerabilities"
There are CESA aka. CentOS Security Advisory but this is not entirely clear how they differ from RHSA (RedHat)
See for instance https://lists.centos.org/pipermail/centos-announce/2019-September/023448.html
and https://access.redhat.com/errata/RHSA-2019:2729
These may be published only as a mailing list post?

[2019-09-26 10:07] pombredanne opened #66 "Collect OpenVAS Vulnerability Tests pointers"
OpenVAS started as a FOSS fork of Nessus before it went closed source and is maintained by @greenbone @janowagner and team.
See the plugins (OpenVAS Vulnerability Tests) feed at https://community.greenbone.net/t/about-greenbone-community-feed-gcf/1224
See also http://www.openvas.org/ and  https://en.wikipedia.org/wiki/OpenVAS

[2019-09-26 10:07] pombredanne opened #67 "Collect tenable/nessus plugin pointers"
See https://www.tenable.com/plugins/nessus/129017 https://www.tenable.com/cve/CVE-2019-0217
For a given CVE a nessus plugin may exist to detect if the vulnerability exists.
See also OpenVAS https://github.com/nexB/vulnerablecode/issues/66

[2019-09-26 10:09] pombredanne commented on #65
Note that we could possibly reach out to @hughesjr as he seems to be the author of the recent CESA

[2019-09-26 10:30] pombredanne opened #68 "Collect FreeBSD"
See https://www.freebsd.org/security/ and https://www.freebsd.org/security/advisories.html
And also
- http://vuxml.freebsd.org/ and http://www.vuxml.org/freebsd/
- https://github.com/freebsd/freebsd-ports/tree/master/security/vuxml
- http://www.vuxml.org/freebsd/
- https://github.com/pombredanne/checkvuln (weirdly enough I am the head fork there but that's originally by @dyntopia ;) )

[2019-09-26 10:33] pombredanne opened #69 "Collect gentoo"
See GLSA example https://security.gentoo.org/glsa/201909-03
https://www.gentoo.org/support/security/ and feed at https://security.gentoo.org/subscribe

[2019-09-26 10:38] pombredanne opened #70 "Collect OpenWRT"
See https://openwrt.org/docs/guide-developer/security
It is unclear if there is anything that can be collected at all.

[2019-09-26 10:40] pombredanne opened #71 "Collect CVE from NVD"
Of course :)
See also
- https://github.com/CVEProject/cvelist
- https://nvd.nist.gov/

[2019-09-26 10:41] pombredanne opened #72 "Collect vulnerabilities from Amazon Linux"
See https://alas.aws.amazon.com/
There are two variants: AL and AL2

[2019-09-26 10:43] pombredanne opened #73 "Collect vulnerabilities from Jenkins"
See https://jenkins.io/security/

[2019-09-26 10:45] pombredanne opened #74 "Collect vulnerabilities from GitHub"
There are a few levels to consider:
1. GH provides some security feeds for their own GHE appliances
2. the projects hosted can publish their own feeds
3. a project dependencies can have vulnerabilities reported by GH

[2019-09-26 10:48] pombredanne commented on #62
Also, not sure this is all up to date but we have https://support.novell.com/security/oval/suse.linux.enterprise.server.11.xml

[2019-09-26 10:49] pombredanne commented on #44
There is also this http://www.redhat.com/security/data/oval/com.redhat.rhsa-all.xml

[2019-09-26 10:52] pombredanne opened #75 "Collect Oracle Linux"
See https://linux.oracle.com/pls/apex/f?p=105:21

[2019-09-26 10:53] pombredanne opened #76 "Collect slackware"
See http://www.slackware.com/security/

[2019-09-26 10:55] pombredanne opened #77 "Collect data from LWN"
See https://lwn.net/Articles/799044/ as an example  .. and also https://lwn.net/Security/
Or reach out to Jonathan Corbett.

[2019-09-26 10:56] pombredanne opened #78 "Collect Mozilla"
See https://www.mozilla.org/en-US/security/known-vulnerabilities/

[2019-09-26 10:58] pombredanne opened #79 "Collect OpenBSD"
See https://www.openbsd.org/security.html

[2019-09-26 11:02] pombredanne opened #80 "Collect distrowatch"
See https://distrowatch.com/dwres.php?resource=security

[2019-09-26 11:03] pombredanne opened #81 "Collect mageia"
See https://advisories.mageia.org

[2019-09-26 14:39] pombredanne opened #82 "Collect VMWare"
https://www.vmware.com/security/advisories.html

[2019-09-26 14:50] pombredanne opened #83 "Collect Fedora"
See https://fedoraproject.org/wiki/FSA
https://fedoraproject.org/wiki/SecurityBasics#Subscribing_to_Security_Announcement_Services

[2019-09-26 14:52] pombredanne opened #84 "Collect opensuse"
See opensuse-security@opensuse.org
When looking at https://www.suse.com/security/cve/CVE-2019-14822/ it is not entirely clear how this intersects with SUSE proper #62

[2019-09-26 14:53] pombredanne opened #85 "Collect Scientific Linux"
See https://www.scientificlinux.org/category/author/sl-errata/

[2019-09-26 15:01] pombredanne opened #86 "Collect Rubygems advisories from https://rubysec.com/"
See https://rubysec.com/

[2019-09-26 15:13] pombredanne opened #87 "Collect CloudFoundry advisories"
https://www.cloudfoundry.org/foundryblog/security-advisory/

[2019-09-26 15:14] pombredanne opened #88 "Add support for hackerone reports"
See https://hackerone.com/reports/274267 for example

[2019-09-26 15:17] pombredanne opened #89 "Collect TYPO3"
See https://typo3.org/security/advisory/typo3-psa-2019-007/ for example

[2019-09-26 15:17] pombredanne opened #90 "Collect drupal"
See https://www.drupal.org/sa-core-2019-007 for example

[2019-09-26 15:20] pombredanne opened #91 "Collect Pyup safety DB"
See https://pypi.org/project/safety/ and https://github.com/pyupio/safety-db
To discuss with pyup @jayfk since the license is a a non FOSS CC-BY-NC-4.0

[2019-09-26 15:23] pombredanne opened #92 "Collect Rust Cargo"
https://github.com/RustSec/advisory-db

[2019-09-26 21:35] pombredanne commented on #74
See https://github.com/gradle/gradle/security/advisories/GHSA-4cwg-f7qc-6r95 for an example

[2019-09-26 21:49] pombredanne opened #93 "Collect Atlassian security bugs"
See https://jira.atlassian.com/browse/TRANS-2623?jql=labels%20%3D%20security

[2019-09-26 21:51] pombredanne opened #94 "Collect JVN vulnerabilities"
https://jvn.jp/en/

[2019-09-26 21:52] pombredanne opened #95 "CRAVEX: Collect and normalize exploit pointers"
We want to collect data about exploits.

- [x] https://github.com/nexB/vulnerablecode/issues/1453
- [x] https://github.com/nexB/vulnerablecode/issues/1454
- [x] https://github.com/nexB/vulnerablecode/issues/1455

PacketStorm ~https://github.com/nexB/vulnerablecode/issues/1452~ is now descheduled and removed from plan as explained in https://github.com/aboutcode-org/vulnerablecode/issues/1452#issue

[2019-09-26 21:53] pombredanne opened #96 "Collect nginx"
http://nginx.org/en/security_advisories.html

[2019-09-26 21:53] pombredanne opened #97 "Collect OpenSSL"
https://www.openssl.org/news/vulnerabilities.html and https://www.openssl.org/news/vulnerabilities.xml

[2019-09-26 21:55] pombredanne opened #98 "Collect Postgres"
https://www.postgresql.org/support/security/

[2019-09-26 21:56] pombredanne opened #99 "Collect HTTPD"
https://httpd.apache.org/security_report.html

[2019-09-26 21:57] pombredanne opened #100 "Collect Apache Announces"
See http://mail-archives.apache.org/mod_mbox/www-announce/201909.mbox/browser
The announce list contains security disclosures

[2019-09-26 21:58] pombredanne opened #101 "Collect npm"
See https://registry.npmjs.org/-/npm/v1/security/advisories

[2019-09-26 21:59] pombredanne opened #102 "Collect samba"
See https://www.samba.org/samba/history/security.html

[2019-09-26 22:00] pombredanne opened #103 "Collect xen"
https://xenbits.xen.org/xsa/

[2019-09-26 22:04] pombredanne opened #104 "Collect bugtraq"
https://www.securityfocus.com/

[2019-09-26 22:06] pombredanne opened #105 "Collect securityfocus"
https://www.securityfocus.com/

[2019-09-26 23:07] pombredanne opened #106 "Collect misc data sources"
These can be broken down when we start working on them:
- https://varnish-cache.org/security/
- https://developer.joomla.org/security.html
- https://security.netapp.com/advisory/
- https://www.phpmyadmin.net/security/
- https://www.oracle.com/technetwork/topics/security/alerts-086861.html
- https://mariadb.com/kb/en/library/security/
- https://www.eclipse.org/security/known.php and https://www.ecl

[2019-09-27 23:18] pombredanne opened #107 "Collect NetBSD"
See http://ftp.netbsd.org/pub/NetBSD/packages/vulns/pkg-vulnerabilities

[2019-09-28 10:12] pombredanne opened #108 "Collect data from certain mailing list archives"
Some data may only be available in mailing list (possibly such as CentOS #65 )
We could craft a module to deal with the common cases such as mailman/pipermail, etc. archives.
See:
- https://www.gnu.org/software/mailman
- https://github.com/matthicksj/mailman-download
- https://mail.python.org/pipermail/mailman-users/2012-October/074208.html
- https://github.com/wesleyd/pipermail-archive-to-maildir

[2019-09-29 11:48] pombredanne opened #109 "Add CVE reference maps to create aliases"
See https://cve.mitre.org/data/refs/index.html

[2019-09-29 15:46] pombredanne opened #110 "Collect CPEs"
See https://nvd.nist.gov/products/cpe
We need also to define some rules to map these to Package URL when possible (not every CPE is a package though (eg. hardware, commercial products), so we can have NVD vulnerabilities with something that is impacted but without a package...

[2019-09-29 17:35] pombredanne opened #111 "Collect OVAL repo from cisecurity.org"
See https://oval.cisecurity.org/repository
See also https://oval.cisecurity.org/repository/registry

[2019-10-01 07:14] NavonilDas commented on #101
Can I contribute to this issue?

Here is the current format of the data.
[code]
We can get the following data:
1. Package Name
2. Status
3. Fixed Version
4. Description
5. Severity
6. Vulnerability id

[2019-10-01 09:51] pombredanne commented on #101
@NavonilDas that would be awesome! can join join the chat at https://gitter.im/aboutcode-org/vulnerablecode ?

[2019-10-01 11:13] pombredanne opened #112 "Define core data collections principles"
In order to guide the data collection efforts we need to define the core data collection principles.
- What should be our priorities?
- What about older, historical data?
- What about system/distro vs. application vulnerabilities?

[2019-10-01 11:20] haikoschol opened #113 "Define/document method for periodically running data import"
We have a CLI for importing data now, but we also want to have this run periodically for a given deployed instance of vulnerablecode. This depends on how it is deployed. For a single server it could be a simple cron job. Or we could have some kind of infrastructure-as-code for deploying a database, API server and setting up a periodic import (e.g. for Kubernetes).

The purpose of this issue is to

[2019-10-01 15:29] OliverFendt opened #115 "License information not available"
There is no license available  - so I think the project cannot be used by anybody. Would it be possible that you define a license for the proiect - that others can use it. This would be great

[2019-10-01 15:41] pombredanne commented on #115
@OliverFendt how shocking :scream:  sounds like a true cobbler's son problem! I will add the top level data ASAP.

That said, the code license is the same as Scancode and you can see it in the code proper https://github.com/nexB/vulnerablecode/blob/develop/vulnerablecode/urls.py

There is the issue of the data license that is not yet fully settled as explained here: https://github.com/nexB/vulnera

[2019-10-01 15:50] haikoschol commented on #40
@singh1114 As far as I understand, #40 is about the following scenario (I trust @pombredanne to correct me if I'm wrong):

- MadeupLinux issues a security advisory about package foo 1.2.3, with the identifier `MUL-42`.
- We ingest this advisory.
- A mistake in the advisory is found, or it was missing crucial infomation, so some part of the advisory is revised. Maybe a notification is sent to the M

[2019-10-02 09:28] singh1114 commented on #40
@haikoschol It would be awesome if we are able to get the timestamp data for a given package vulnerability. But I think we are not getting it currently.

[2019-10-02 09:47] haikoschol commented on #40
@singh1114 Right, we are not. I don't know which, if any, of the vulnerability sources have such timestamps in their data model. We should find out and if they do, make use of them.

[2019-10-02 15:15] #32 closed

[2019-10-04 14:55] pombredanne opened #116 "Add advisory parsing from https://github.com/mprpic/advisory-parser"
See @mprpic https://github.com/mprpic/advisory-parser and its support for Chrome, Flash and MySQL/MariaDB

[2019-10-08 13:15] pombredanne opened #117 "Add oss-fuzz confirmed security issues"
See for instance https://bugs.chromium.org/p/oss-fuzz/issues/list?can=1&q=Type:Bug,Bug-Security%20proj=libarchive%20type=Bug-Security&colspec=ID%20Type%20Component%20Status%20Proj%20Reported%20Owner%20Summary

Most do not have a CVE and things cn be tracked somehow to specific commits with a bit of cross-searching and matching with a project corresponding commit stream and issue tracker searching,

[2019-10-08 13:18] pombredanne opened #118 "Add data from https://github.com/google/vulncode-db/"
See https://github.com/google/vulncode-db  and https://github.com/google/vulncode-db/issues/3 for license

See the live data at https://www.vulncode-db.com/about

@evonide are you involved with oss-fuzz too by chance ? (for our ticket #117 )

[2019-10-08 13:19] pombredanne opened #119 "Create utility for package version handling: parsing, normalization, comparison"
There are many different versions styles and ways to express version ranges we need to deal with:
- semver, deb, rpm, pypi, ... e.g. in general system and application package managers may use different version conventions
- versions ranges and specs are used when referencing dependencies in package manifests but also may be used in advisory and vulnerabilities (cvss, npm advisories, etc.)

We need

[2019-10-08 13:24] pombredanne opened #120 "Outreach"
This is a tracker of outreach to various other persons, groups or projects:

# Legend

| Icon    | status
|-------------------------------|----------
| :white_check_mark:    | completed
| :clock1030:                 | In progress
| :white_large_square:  | Planned, not started

- :clock1030: https://joinup.ec.europa.eu/solution/eu-fossa-pilot : intro email sent on 2019-10-07
- :clock1030: https://g

[2019-10-22 09:49] haikoschol opened #122 "Split up `vulnerabilities` Django app"
Having a few small "apps" instead of a single one could make it easier for new contributors to navigate the codebase. It would also reduce coupling between different parts of the code that can be kept separate. For example, at the moment the tests for the API call code from the data import. This makes it difficult for someone not familiar with the entire codebase to diagnose test failures.

I prop

[2019-10-22 09:58] haikoschol opened #123 "Manage vulnerability sources in database"
Add a model for available data sources where we can keep metadata such as the license under which the vulnerability data is published. This would make it easier to maintain this kind of information than having it in the code. When we have importers for standardized formats like OVAL it would also allow to add additional data sources that follow this standard by adding a new entry to this DB table.

[2019-10-24 17:00] singh1114 commented on #71
@pombredanne @haikoschol I can take on this. Can we discuss how we need to proceed with this?

This seems to be a good source of data: https://nvd.nist.gov/vuln/data-feeds

[2019-10-26 14:34] #113 closed

[2019-10-28 09:41] pombredanne commented on #83
There is no clear and structured security data feed.
Instead we would need to parse this mailman list archives https://lists.fedoraproject.org/archives/list/package-announce@lists.fedoraproject.org/ and identify announces that deal with security such as https://lists.fedoraproject.org/archives/list/package-announce@lists.fedoraproject.org/thread/JQOGVCB6T3VQPBVJJXWJTPVKF4NT7NHD/

[2019-10-28 09:47] pombredanne commented on #83
Other sources  could include
- Bodhi https://bodhi.fedoraproject.org/updates/?releases=F31&status=testing https://bodhi.fedoraproject.org/updates/FEDORA-2019-aa99c99f24
- https://lwn.net/Alerts/Fedora/

[2019-10-28 10:17] pombredanne commented on #20
See this chat:
[code]

Eventually most URL are available as JSON too https://security.archlinux.org/CVE-2019-17596/json

[2019-10-28 12:30] haikoschol commented on #20
After looking at our archlinux code and their various JSON feeds again, I do think we need to make changes to the code. At the moment we consume a feed of AVGs and create one `Vulnerability` for each entry. But one AVG can reference multiple CVEs, so *those* should be the vulnerabilities. And ASAs should be `VulnerabilityReference`. I don't think we need to store AVGs themselves at all, just the i

[2019-10-28 21:57] pombredanne commented on #20
@haikoschol re

this is making 100% sense to me.

@lohani2280 FYI this project is restarting... it could be of interest to you

[2019-11-01 13:05] #101 closed

[2019-11-01 15:10] pombredanne commented on #43
See also https://github.com/nexB/scancode-toolkit/issues/1803

[2019-11-04 10:13] haikoschol commented on #44
Comparing OVAL and CVRF entries for the same RHSA, it seems that CVRF has all the information we need in an easier to consume structure. However, the XML version of it has more data than the JSON linked above.

[2019-11-04 10:13] pombredanne commented on #44
Actually we could also start with the simpler https://www.redhat.com/security/data/metrics/rpm-to-cve.xml

[2019-11-04 10:25] pombredanne commented on #71
@singh1114 that would be awesome! let's bring it on the chat to discuss in details.

[2019-11-04 10:36] pombredanne commented on #55
@ckauhaus ping... at some point of time it would be great if we can chat as we are looking after aggreting the NixOS vulnerabilities here.

[2019-11-05 10:27] ckauhaus commented on #55
Sure. Which time zone are you in? Thu evening (CET) would be a good pick for me. I'm ckauhaus on Freenode and you find me usually in #nixos-security.

[2019-11-05 13:13] pombredanne commented on #63
I did have an extensive chat with @LeChasseur on that topic and some of the key points are:
1. while a single vulnerability record may not be copyrightable, databases can be copyrighted
2. on top of that, Europe has a notion of "sui generis" rights that may apply when data comes originally from Europe. It does not extend to non European data
3. the cleanest way to promote reuse for the data we cre

[2019-11-06 16:02] haikoschol opened #126 "NPM import skips unfixed vulnerabilities"
The [function that resolves version ranges](https://github.com/nexB/vulnerablecode/blob/58e3ff375f8cc40cd457aa8130a5ac5264e29cd7/vulnerabilities/scraper/npm.py#L68) for affected and fixed packages returns empty lists if either of the ranges is empty. For unfixed vulnerabilities, the fixed version range is usually empty, hence no data for those will be added.

[2019-11-06 16:21] haikoschol opened #127 "Use pytest for Django tests"
Currently we make a distinction between Django tests (that need a database) and unit tests written with pytest. It would be better to only have one command to run all tests, maybe with a method to skip any that need a database although that's not really necessary IMHO. Another benefit would be that we can use pytest features in Django tests of course.

[2019-11-10 11:19] #20 closed

[2019-11-14 20:31] pombredanne opened #128 "Add https://www.nbu.gov.sk/skcsirt-sa-20170909-pypi/"
The data from this Slovak agency https://www.nbu.gov.sk/skcsirt-sa-20170909-pypi/ seems intersting and not always in CVE

[2019-11-18 09:25] pombredanne commented on #63
This is best handled a tad later to decide how we will implement license tracking possibly in #123
This is important enough to defer to the next milestone.

[2019-11-18 09:31] pombredanne commented on #112
Here is my take:
We prioritize:
- newer data over older, historical data (but we will eventually also include historical data).
  - The rationale is that older vulnerabilities (where older means 5 years old +) are for older package versions and are less likely to be relevant.
- application packages over system packages vulnerabilities (though they clearly intersect and we are bootstrapping with di

[2019-11-18 09:37] pombredanne opened #129 "Cleanup wiki and review/update doc"
The wiki need to be updated with the latest and greatest to better reflect what the project is all about

[2019-11-18 09:42] pombredanne commented on #23
we should collect data from all available Debian versions... I am closing this older ticket now.

[2019-11-18 09:42] #23 closed

[2019-12-03 11:19] pombredanne commented on #112
I think we have the info here. so we can close this

[2019-12-03 11:19] #112 closed

[2019-12-03 11:36] pombredanne commented on #21
This is outdated data and furthermore the other feed on https://snyk.io/vuln does not seem to be made to be shared in any way. I am closing this as this is not data for us.

[2019-12-03 11:36] #21 closed

[2019-12-03 11:37] pombredanne commented on #61
Note that we had also #101 but these seem complementary

[2019-12-03 11:45] pombredanne commented on #91
@jayfk @Jwomers ping... what is happening to safetydb? any plan for updates and an alternative license?

[2019-12-03 12:03] #115 closed

[2019-12-19 09:46] haikoschol commented on #127
closed via #133

[2019-12-19 09:46] #127 closed

[2019-12-20 06:26] sbs2001 opened #136 "Typo in Django admin page"
As Django by default pluralises the registered models in the admin panel, the registered model 'Vulnerability' is displayed as 'Vulnerabilitys'.

[2019-12-20 10:29] #136 closed

[2019-12-22 14:06] #126 closed

[2020-01-05 06:14] sbs2001 commented on #119
We currently use  [semantic_version](https://github.com/rbarrois/python-semanticversion) in /scrapers/npm.py  it seems fine but I'm not sure whether it supports deb,rpm style versions which include '-'.

[2020-01-06 15:46] sbs2001 commented on #119
A repaste from [chat](https://gitter.im/aboutcode-org/vulnerablecode).
After little research on the proposed tools. Here are my findings. About https://github.com/snyk/unified-range I don't think they have an api good enough for our use, they don't provide an easy way to check whether a version belongs to the given version spec.

Regarding https://github.com/repology/libversion is a C program, IMH

[2020-01-07 11:31] sbs2001 opened #139 "Debian vulnerabilities are by default looked for 'jessie' release"
https://github.com/nexB/vulnerablecode/blob/742625312ea393341cc5e1bb0e8c6f93d4706d59/vulnerabilities/scraper/debian.py#L30

Also their is no way  for the user to specify the release.

[2020-01-14 11:01] pombredanne commented on #139
This would need to have https://github.com/nexB/vulnerablecode/issues/123 done first

[2020-01-14 11:36] pombredanne opened #140 "Store version ranges"
To support vulnerabilities that impact or fix a package version range, we would need to store that data.
In addition to that, we would also store the relationship between vuln and package for every known packages at the time we create or update a vuln.
This is follow up of #119

[2020-01-14 11:39] pombredanne opened #141 "Update for package version ranges"
Given a vuln that has a stored version range per #140, we need to design a way to update the DB for version ranges when we get new and updated package versions (#142) or vulnerablities.

[2020-01-14 11:42] pombredanne opened #142 "Collect all known package versions (Package URLs)"
To support dealing with expanding version ranges referenced in a vulnerability we need to know about all the package versions (and continuously keep this up to date).

[2020-01-14 13:33] msrb commented on #63
Slightly off-topic comment, but here we go :)

I am no longer involved with https://github.com/fabric8-analytics/cvedb but it should only contain data collected from NVD (there is a dummy bot which scans NVD once a day and opens pull-requests in the database repository for further review/human curation [1]). AFAIK, the team never decided on what license the database should use.

[1]: https://githu

[2020-01-15 11:37] pombredanne commented on #63
@msrb Thank you ++ for chiming in as this is quite useful

[2020-01-15 11:42] pombredanne commented on #63
@msrb I'd love to reuse, integrate and further the code of https://github.com/fabric8-analytics/cvejob too... let me enter a ticket there to ask about the license of the code too... or would you know?

[2020-01-15 11:44] pombredanne commented on #63
@msrb Your diagram at https://github.com/fabric8-analytics/cvejob/blob/master/docs/internals.md is great! :+1:

[2020-01-16 08:32] sbs2001 commented on #119
https://github.com/dephell/dephell_specifier also seems promising

[2020-01-16 18:30] sbs2001 commented on #86
`{'package_name': 'rdoc', 'summary': 'Doc documentation generated by rdoc 2.3.0 through rdoc 3.12 and prereleases\nup to rdoc 4.0.0.preview2.1 are vulnerable to an XSS exploit. This exploit\nmay lead to cookie disclosure to third parties.\n\nThe exploit exists in darkfish.js which is copied from the RDoc install\nlocation to the generated documentation.\n\nRDoc is a static documentation generation

[2020-01-26 17:34] #86 closed

[2020-01-30 09:18] sbs2001 opened #144 "Make distinction between patched and unaffected packages"
We currently put packages into just two categories
1) ImpactedPackage , these are affected by the particular vulnerability and are not secure to use.
2.)ResolvedPackage , these are unaffected by the particular vulnerability , atleast they are supposed to be . This category includes a) packages which were affected by a vulnerability and then got fixed  as well as b)  packages which weren't affected

[2020-01-30 21:16] haikoschol commented on #123
Some quick notes:
My initial idea was to have a base class called `Importer` or something like that, which defines an interface and contains common logic from which implementations for various data souces inherit.

An alternative would be to have only one `Importer` which is a Django model and contains fields like
- `name` (e.g. "ubuntu", "npm", etc.)
- `enabled`
- `last_run`
- one or two fields t

[2020-02-05 11:55] pombredanne opened #145 "Add generic and shared support for OVAL"
#59 #111 #65 #44 #16 may all somehow use OVAL at some level
It would be great to have a generic support for OVAL XML which rather deeply nested and with several indirection.
Some tools/libs:
- https://github.com/OpenSCAP/OVAL-visualization-as-graph in Python
- https://github.com/quay/goval-parser in Go
- https://github.com/cve-search/VIA4CVE/blob/master/sources/OVAL.py in Python
- https://github.c

[2020-02-05 12:18] sdelafond commented on #145
debian-oval is indeed GPL.

[2020-02-05 13:39] oholiab commented on #145
ovaltools is pretty proof-of-concept and very heavily based around Ubuntu's OVAL files - basically being able to map from a list of package versions to a list of vulnerabilities. I don't doubt there are many more mature solutions out there but I'm certainly interested to see what solutions you come up with!

[2020-02-08 14:10] haikoschol commented on #122
Partially covered by #147, the rest is of questionable utility at the moment.

[2020-02-08 14:10] #122 closed

[2020-02-12 10:09] haikoschol opened #149 "Include affected platforms in stored vulnerability data"
Some security issues only affect certain platform (as in operating systems, Linux distributions, etc.) The data model should include this information and allow querying for it to avoid false positives. The natural way to include this on the query side is with a platform qualifier on the package URL.

Here is an example of a vulnerability in a Rust crate that only affects Windows: https://github.co

[2020-02-15 17:59] #92 closed

[2020-02-21 12:10] sbs2001 opened #150 "Add data from Cisco's PSIRT openVuln API if possible"
Check https://developer.cisco.com/docs/psirt/#!api-reference .

This requires us to have a Cisco Account and I am not sure about licensing of the data we will be getting.

[2020-02-25 02:41] sbs2001 commented on #18
We can also interconvert between cvss v2,cvss v3,cvss v1 . We need to do this since not all advisories use same cvss version. https://security.stackexchange.com/questions/127335/how-to-convert-risk-scores-cvssv1-cvssv2-cvssv3-owasp-risk-severity shows how to do this .

[2020-02-25 02:54] sbs2001 commented on #62
This is  the total data which I am able to get

[code]
Which is further filtered to get
`
{'title': 'Systems with microprocessors utilizing speculative execution and indirect branch prediction may allow unauthorized disclosure of information to an attacker with local user access via a side-channel analysis.', 'platform': 'openSUSE Leap 42.3', 'cve_id': 'CVE-2017-5715', 'package': 'ucode-intel-debu

[2020-02-25 11:47] haikoschol commented on #62
@sbs2001 thanks! Adding the URLs in `URL_Reference` as `VulnerabilityReference` would be nice.

[2020-02-28 02:45] sbs2001 opened #151 "Remove api calls to circl"
This is a reminder to remove these api calls as well as it's functionality  which were probably used earlier for experments.
https://github.com/nexB/vulnerablecode/blob/848ee1285f8c6bdbc1245e59eb788b405cbe2088/vulnerabilities/api_data.py#L29 .

[2020-03-05 12:05] EslamHiko opened #154 "Key Error in rust scraper when imporing data."
I got this error when I was Importing data
`DJANGO_DEV=1 python manage.py import --all`
[code]
I inspected `advisory['advisory']` and the result didn't have `patched_versions` key
[code]
I've submitted a quick fix for this issue in this PR : https://github.com/nexB/vulnerablecode/pull/155

[2020-03-05 12:43] sbs2001 commented on #154
Seems they changed the schema for advisories at https://github.com/RustSec/advisory-db . Thank you for bringing this into notice.

[2020-03-05 13:07] sbs2001 opened #156 "Duplicates in api response after every data dump"
After first import
[code]

After second import
[code]
This is critical. We probably need to enforce more constraints on our models.

[2020-03-05 13:13] sbs2001 opened #157 "Change database schema to accommodate different types of severity indicators"
Repaste   from gitter :

 1. Make separate columns for each type of severity indicator for model Vulnerability.
     OR

 2. cvss scores of different versions can be interconverted by manipulating the attack vector, this adds some error (upto 5%). This way we will have 2 columns to indicate severity one for cvss score of the latest standard and other for textual representation of severity.
     Wh

[2020-03-05 13:45] haikoschol commented on #154
closed via #155

[2020-03-05 13:45] #154 closed

[2020-03-05 13:46] haikoschol commented on #156
Looks like a duplicate of https://github.com/nexB/vulnerablecode/issues/28, but I haven't dug into either one in detail to understand whether there are differences. In general our import process produces lots of duplicate rows which needs to be fixed. I hope to achieve that in one central place (instead of writing code to fill the DB in every importer) in #152.

[2020-03-05 16:34] sbs2001 commented on #156
Duplicate of #28

[2020-03-05 16:34] #156 closed

[2020-03-09 09:53] aniket-chowdhury commented on #151
Hey, want to work on this. Why is there a need to remove these api calls?

[2020-03-09 09:59] aniket-chowdhury commented on #151
It would break functionality as it is being called twice in [views.py](https://github.com/nexB/vulnerablecode/blob/848ee1285f8c6bdbc1245e59eb788b405cbe2088/vulnerabilities/views.py#L31).

[2020-03-12 12:19] sbs2001 commented on #110
Just to have things for reference here is a repaste from gitter :

To summarise the things preventing us from mapping cpes to purls are

1. No way to determine the 'type' just from looking the cpe, 'type' is an essential field required to construct purl
2. We can determine hardware cpes(and ignore them) , but what about the vulnerabilities affecting non-open source software, I can think of mitigat

[2020-03-12 17:02] sbs2001 commented on #157
Another approach I can think of is having 2 columns for cvss's , 1st column will store the version of cvss and 2nd column will store the score

[2020-03-13 10:59] sbs2001 opened #162 "NPM importer is down"
[code]

[2020-03-13 11:03] sbs2001 commented on #162
Apparently, the importer is stuck on first page i.e it doesn't move on to next pages. It is stuck on 'https://registry.npmjs.org/-/npm/v1/security/advisories?page=0'.

[2020-03-14 13:14] haikoschol commented on #151
@aniket-chowdhury This ticket is a bit short on context: We want to remove all URL endpoints that make use of this external API, not just the outgoing HTTP call itself. That includes the routes in [vulnerabilities/urls.py](https://github.com/nexB/vulnerablecode/blob/848ee1285f8c6bdbc1245e59eb788b405cbe2088/vulnerabilities/urls.py) and the related view functions.

[2020-03-14 13:38] sbs2001 commented on #151
My bad, anyways the issue is updated.

[2020-03-14 13:51] haikoschol commented on #162
How did you come to this conclusion? In the traceback you posted the NPM registry was unavailable. Did you try again and then conclude that it was stuck on the first page?

The URL to the next page is still included in the JSON returned from the registry:
[code]

And I just ran the NPM import successfully on my machine. Looks like this was just a temporary outage of the registry.

[2020-03-14 14:00] sbs2001 commented on #162
I was stuck in loop just requesting  "https://registry.npmjs.org/-/npm/v1/security/advisories?page=0", that  maybe crossing some threshold and giving 503 error .

More specifically : https://github.com/nexB/vulnerablecode/blob/80a7b6e50c37dc599f28351f3e132e8bacbc551f/vulnerabilities/scraper/npm.py#L118

     https://github.com/nexB/vulnerablecode/blob/80a7b6e50c37dc599f28351f3e132e8bacbc551f/vulne

[2020-03-14 14:09] sbs2001 commented on #162
Here is a fresh test, that I just did. I have simply added a `print(cururl)`

[code]

[2020-03-14 14:11] haikoschol commented on #162
You are right, it was stuck. In fact apparently it never worked. I just assumed it did when I started the command and it didn't throw any errors.
However, the fix is very simple: Just rename `next_page` to `nextpage`. Looks like I messed that up when "refactoring" and it was never caught.

[2020-03-14 15:37] sbs2001 commented on #162
That's what thought, but due to some 'abnormalities' in the advisories that won't be enough to have the importer up and running, I have elaborated this in the  comment at the PR

[2020-03-15 17:05] #162 closed

[2020-03-15 20:18] haikoschol opened #164 "Data Ingestion Scenarios"
This issue is just a rough note about various scenarios our import code needs to handle. Should be translated to automated tests eventually.

## both new

a new vulnerability has been found.

the data source emits a package (with impacted and resolved versions) and a vulnerability which both do not exist in the database yet.

the expected outcome is (bulk inserted) new entries for packages and vul

[2020-03-17 12:47] sbs2001 opened #165 "Debian importer is treating lots of non-cves like cves"
[code]
These are further dumped directly https://github.com/nexB/vulnerablecode/blob/c5c69a46f2476056158cfb87bdc304baabba5eba/vulnerabilities/data_dump.py#L38 . So basically we are having non-cve ids  in cve fields.

The `debi.pickle` was obtained by pickling https://github.com/nexB/vulnerablecode/blob/c5c69a46f2476056158cfb87bdc304baabba5eba/vulnerabilities/scraper/debian.py#L76

[2020-03-20 06:17] sbs2001 commented on #91
https://github.com/nexB/vulnerablecode/pull/153 imports safety-db, so this can be closed

[2020-03-22 10:38] haikoschol commented on #165
The bug is in `extract_vulnerabilities()` assuming that the object key in the JSON response always contains a CVE ID. Apparently Debian publishes advisories with temporary IDs when no CVE ID is available yet. The obvious next question then is how do those temporary IDs turn in to CVE IDs and how would we detect that and update our database accordingly?

[2020-03-22 16:56] sbs2001 commented on #44
I didn't see this mentioned, so here it is https://access.redhat.com/hydra/rest/securitydata/cve.json

Anyways the larger  issue with extracting data from any of the above mentioned sources (and CVRF advisories in general) is that there is no explicit mention of package name and package version . Rather these are combined and hence we will need to split these combined names into package name and v

[2020-03-22 20:56] #91 closed

[2020-03-23 11:40] sbs2001 commented on #61
https://github.com/nodejs/security-wg/tree/master/vuln/npm is collected from a more fresh source   in  our current npm importer. That leaves https://github.com/nodejs/security-wg/tree/master/vuln/core . Btw what should be package name for these?

[2020-03-23 11:50] sbs2001 commented on #41
These are closed source vulnerabilities, isn't that out of scope of vulnerablecode ?

[2020-03-23 11:52] sbs2001 commented on #151
more context https://github.com/nexB/vulnerablecode/issues/9

[2020-03-29 18:49] haikoschol commented on #61
@sbs2001 We discussed the same issue for Ruby (or Rust? or both? don't remember) and decided to leave out the upstream tarballs of the language toolchain itself for now.

Apart from the questions of what package-url attributes we should use for them, it's also unclear how a user of VulnerableCode would programmatically determine that they are using them. Meaning, if I download ruby-2.5.7.tar.gz an

[2020-03-29 18:51] haikoschol commented on #41
Microsoft ships quite a bit of OSS code these days. Having said that, I don't know whether this feed makes sense for VulnerableCode. Someone needs to do the research on it. :)

[2020-04-02 12:32] sbs2001 commented on #165
https://deb.freexian.com/extended-lts/tracker/data/fake-names apparently these are automatically generated.

Should we just ignore these vulnerabilities for now ?

[2020-04-07 13:06] #43 closed

[2020-04-11 14:55] sbs2001 commented on #37
Upon some superficial comparison of https://github.com/RetireJS/retire.js/blob/master/repository/npmrepository.json  and the data collected by npm importer, I can say we can safely avoid collecting npm advisories from this repo (it is also not updated).

https://github.com/RetireJS/retire.js/blob/master/repository/jsrepository.json is what should be collected to close this issue, these are bower p

[2020-04-11 15:19] haikoschol commented on #37
@sbs2001 Thanks for looking into this!

[2020-04-12 09:40] sbs2001 commented on #37
After researching, this data : I've realized

-  The packages mentioned in this data are all covered by our npm importer , this includes the ones from https://github.com/RetireJS/retire.js/blob/master/repository/jsrepository.json

- The only value of importing these, is we will get their `bowernames`, bower is anyways dying.

- The pain point of bower is that there is no easy way to obtain 'all ve

[2020-04-18 14:07] haikoschol commented on #165
Either we ignore them or we don't store the temp ID and hope the summary won't change so we can find the entry again when it needs to be updated with a CVE ID.

[2020-04-26 13:01] sbs2001 commented on #165
I think ignoring would be better instead of later finding them and adding CVE ID, because if in case it doesn't get CVE ID we will end up with garbage data.

[2020-04-27 03:32] sbs2001 opened #175 "Add a coverage badge in README"
Who doesn't love coverage badges?

They give a sense of assurance to the users.

They motivate developers to write tests ;)

[2020-05-06 15:21] sbs2001 commented on #9
Will we be exposing our  `cve-search`   at same  end point(proposed to  be removed by https://github.com/nexB/vulnerablecode/pull/177) ?
This actually needs  a lot more discussion as in  future we will  be adding graphql based api  and remove/keep the rest API.

[2020-05-06 17:07] #151 closed

[2020-05-13 06:29] sbs2001 commented on #62
Just discovered http://ftp.suse.com/pub/projects/security/ , specifically http://ftp.suse.com/pub/projects/security/yaml/ is useful, we could populate our db with resolved packages(these yamls basically contains list of backports with fix to vulnerabilities). http://ftp.suse.com/pub/projects/security/oval/  is of limited value as I am not sure what difference will it make compared to using CVRF.

[2020-05-17 10:55] sbs2001 commented on #69
A better source to collect this data would be by cloning `git clone https://anongit.gentoo.org/git/data/glsa.git ` . @haikoschol ^

[2020-05-19 14:00] sbs2001 commented on #149
This will be fixed, once we use JSONField for storing a purl's qualifiers right?

[2020-05-20 05:57] sbs2001 commented on #74
GitHub provides a GraphQL based API for these, we could collect this data from this API. As this API requires OAuth token, we need some mechanism to allow the user to specify  the token  (environmental variable).

An example query at https://developer.github.com/v4/explorer/ to obtain this data would be :
[code]

[2020-05-20 06:54] sbs2001 commented on #145
This can be closed, but I believe we could stretch this a bit instead of creating a new ticket . Instead of having `SUSEOvalParser ` `UbuntuOvalParser` etc, we could have just one `OvalParser` to parse them  all.

Criteria to close this issue :
Replace `SUSEOvalParser` and `UbuntuOvalParser` with   `OvalParser` and pass all the existing tests.

[2020-05-20 11:10] #145 closed

[2020-05-22 08:14] #37 closed

[2020-05-23 08:58] sbs2001 commented on #29
Can be closed right now, but we will wait for https://github.com/nexB/vulnerablecode/pull/152 to b e merged

[2020-05-23 09:12] sbs2001 commented on #41
The data from the CVRF is basically https://portal.msrc.microsoft.com/en-us/security-guidance , majority of the vulnerabilities are of closed source Microsoft products like IE, Paint ,Windows etc. The only value these have are about .net vulnerabilities.

[2020-05-23 17:21] #164 closed

[2020-05-26 06:57] sbs2001 commented on #69
Is there an API for gentoo, from where I can get all versions of a gentoo package? I am stuck due to this.

[2020-05-26 15:24] haikoschol commented on #149
@sbs2001 I had completely forgotten about that plan. In some of the importers I merged as part of #123 I already included qualifiers. I'm not sure what implications that has for querying. I think we should still switch to a JSONField.

[2020-05-26 15:25] haikoschol commented on #123
closed by #152

[2020-05-26 15:25] #123 closed

[2020-05-26 15:44] sbs2001 commented on #149
Coincidently, I was trying to do exactly that today, had the debian  importer running for awhile ,which didn't finish due to powercut :(  . I will try that once again.

[2020-05-26 16:23] haikoschol opened #187 "Use `requests.Session` in all `VersionAPI` classes"
Several importers have a small helper class that allows fetching all versions of a given package and caching the response. Change the code that sends the request to use `requests.Session` instead of `urllib`. The main benefit is that this re-uses TCP connections for requests to the same host, so should provide a performance boost for this use case.

[2020-05-26 16:31] haikoschol commented on #69
@sbs2001 I don't know of an API for this. Have you asked someone from the Gentoo project? I'd say if we can't get all the information we need for collecting a particular source, then we don't.

[2020-05-26 16:44] sbs2001 commented on #69
https://packages.gentoo.org/ has the data in HTML(which we have agreed not to consume), but I haven't came across any sort of an API.

I will try, @pombredanne ^ might know someone from the Gentoo foundation.

[2020-05-27 05:43] sbs2001 commented on #187
I don't think using `requests.Session`  would make any noticeable difference as most of the time is blocked  waiting for the response . I've mentioned this before, this would be best handled by some async solution ( aiohttp?), that would dramatically increase performance. I might be wrong but we could use async, as our ORM operations are decoupled from  fetching the data, don't know whether that w

[2020-05-27 14:13] haikoschol commented on #187
I see. Intuitively I'd say reusing the connection is worthwhile but admittedly haven't given it much thought. I also haven't looked into possibilities to use async network I/O together with Django, but that definitely seems like it would be more work.
Anyway, if someone comes along looking for an easy ticket to get started, they can make this small change and do some profiling. If not, we just lea

[2020-05-30 05:09] sbs2001 commented on #69
Here's a screenshot of  my recent email exchange with them:
![email](https://user-images.githubusercontent.com/28975399/83320076-9dba9680-a261-11ea-89ff-e862e3f197e5.png)

Basically there's no API as of now, but they are planning to bring it.

[2020-05-30 08:01] sbs2001 commented on #139
Fixed via https://github.com/nexB/vulnerablecode/pull/152

[2020-05-30 08:01] #139 closed

[2020-05-30 10:23] sbs2001 commented on #149
Not working, it is storing the qualifiers as a single json string ie `"distro=stretch"` instead we want it be like `{'distro':'stretch'}`

[2020-05-30 10:50] sbs2001 commented on #149
Can be fixed easily in https://github.com/package-url/packageurl-python/blob/00b7df61173be3c19eb65ce166271aed0e9ae00c/src/packageurl/contrib/django_models.py#L123 by setting `encode=False` or not mentioning `encode` at all in `PackageURL.to_dict()`

[2020-06-09 03:55] sbs2001 opened #197 "Collect retiredotnet"
Import  data from https://github.com/RetireNet/Packages

[2020-06-09 03:59] sbs2001 opened #198 "Collect Debian OVAL"
Debian provides OVAL files at https://www.debian.org/security/oval/ , it offers more data than the current importer which utilises Debian Security Tracker .

Hence we need to collect the OVAL data .

[2020-06-09 16:21] #197 closed

[2020-06-09 18:32] #62 closed

[2020-06-10 11:36] #198 closed

[2020-06-12 12:32] #44 closed

[2020-06-12 14:02] #61 closed

[2020-06-13 14:14] #35 closed

[2020-06-14 10:57] #69 closed

[2020-06-15 08:41] sbs2001 commented on #75
https://linux.oracle.com/security/oval/

[2020-06-19 06:35] #97 closed

[2020-06-20 08:09] sbs2001 opened #206 "Change data models, to fix existing issues"
<h2 align="center">Vulnerability model  diff </h2>
<h3>Old Vulnerability model </h3>

[code]
<h3> New Vulnerability model </h3>

In the new `Vulnerability` model, `cvss` which is a severity indicator, is removed, the reason being, every data source rates the same vulnerability differently, hence we need some  additional context when talking about severity. Hence all severity related fields are mov

[2020-06-20 08:15] elanzini opened #207 "VCIO-next: Add support to track fix commits: Include commits and patches that fix a vulnerability"
The commit that **fixed** the vulnerability should also be included in the information provided. Anything that can lead to a [diff](https://git-scm.com/docs/git-diff) is valuable. This includes links to commits,  pull requests and issues.

As suggested by @pombredanne we can use the specification described [here](https://github.com/spdx/spdx-spec/blob/5bbecec91bf96c4d27d98084c25801ab7a47f990/chapt

[2020-06-20 10:33] pombredanne commented on #157
What about having something  tad different?
I do not want us to be limited to CVSS which is a rather complex system and we know tat there can be several interpretation of them for the same vulnerability.

IMHO we should have instead three data points for each score:
- like for a reference, some source URL of sorts where that score was published
- a type of score (cvss, etc)
- the score value itsel

[2020-06-20 10:36] pombredanne opened #208 "Revisit using migrations for initial data seeds"
There are possible issues with using migrations to add new data, such as if we want to squash migrations in the future and tying the addition of data to a historical model version of when they were added. It could be simpler to reconsider using migration and have a different seeding model like a class yielding some value, etc. That would be more flexible too IMHO.

[2020-06-20 10:51] pombredanne commented on #157
A third an likely cleaner approach is based on the facts that we know that:
1. there are multiple scoring mechanisms aka. "scoring type" (some formal cvssversion, or informal high/medium/low)
2. for a "scoring type" there can be different interpretations from different "sources" leading to different "score"

So IMHO you could get these "type, source, score" in a Score table that has has a foreign

[2020-06-20 10:51] sbs2001 commented on #157
@pombredanne  I think the new  `VulnerabilityReference`  from https://github.com/nexB/vulnerablecode/issues/206  takes care of    this. Apart from different versions of `cvss` and sometimes indicators like `MEDIUM` , there seems no other scoring system, so IMHO having the severity indicators inside `VulnerabilityReference` seems more  appropriate, since it will contain all things you mentioned, so

[2020-06-20 11:00] sbs2001 commented on #206
I just watched few talks about database indexing and django, looking back at  these models, they are not perfect considering the indexing(order in `unique_together` matters ;) which I didnt think of earlier ) .

[2020-06-20 12:36] sbs2001 opened #209 "Use ArrayFields, instead of creating more references"
The current implementation of `VulnerabilityReference` , forces us to have only one `reference_id` and `url` which is inconvenient because consider : for vulneraiblity 'a' there are 'n'  `reference_id` and 'm' `url` , hence  to have all combinations of `reference_id` and `url` we need to create `n*m` `VulnerabilityReference`. This results in more db queries+ data duplication.

This can be simply s

[2020-06-20 12:51] sbs2001 opened #210 "Investigate the bottlenecks in the codebase, causing slow imports"
There are many possible  causes of slow imports

1. Time spent in fetching data. This includes fetching the data(actual advisories + Version API calls) : Consider async for this.

2. Time spent in processing the data. This include converting data into `Advisory`. I can't think these can be significantly optmised further

3. Time spent in writing data to DB. This is possibly the bottleneck. Maybe a

[2020-06-20 13:09] haikoschol commented on #208
The Django docs describe how to provide initial data here: https://docs.djangoproject.com/en/3.0/howto/initial-data/

The alternative to data migrations described on that page is using fixtures. I don't remember why I went with migrations instead of fixtures. Probably because writing Python is less annoying than JSON. Or because data migrations are included when the user runs `./manage.py migrate`

[2020-06-20 13:14] sbs2001 commented on #210
So I did basic CProfile on the `openssl` importer,  here is the report
[code]
Looking at the report, It validates that the obvious, db operations are the bottleneck

[2020-06-20 13:35] sbs2001 commented on #210
For this test I used the same DB(which was only populated by `openssl`)
Before Test stats:

`vulnerabilities_impactedpackage`  4017 rows
`vulnerabilities_package` 151 rows
`vulnerabilities_resolvedpackage` 347 rows
`vulnerabilities_vulnerability` 177 rows
`vulnerabilities_vulnerabilityreference` 80 rows

You can find  contents of profiler.py in  https://gist.github.com/sbs2001/85a6d6a3a4e9f988518a

[2020-06-20 15:53] pombredanne commented on #206
For VulnerabilityReference, IMHO each URL is a different URL... I do not see the value to use an arrayfield there. That's OK to have the same data with different URLs.

And what about that :
[code]
and type could be any of the various cvss, a severity, or "other"

[2020-06-20 16:19] sbs2001 commented on #206
Last time I checked https://github.com/intel/cve-bin-tool , they also used such a model with minor differences.  I like the `type` field which future proofs the db for all other standards.

The only issues I have with this is  `score = models.CharField(max_length=50, help_text='Score value', blank=True))` , which kind of prevents the use case where the user wants to view vulnerabilities with `cvss

[2020-06-20 16:26] sbs2001 commented on #206
@pombredanne   re

The rationale behind using arrayfield is I want to have `unique_together = ('vulnerability', 'source')` . One reference to look at to know what XYZ data_source thinks about it ;) . Also isn't preventing duplicate data considered a win , I wouldn't call arrayfield being useless here

[2020-06-21 06:02] sbs2001 opened #212 "Collect USNs"
We already have Ubuntu's OVAL importer, these miss a vulnerable binaries, and USN ids.

After messing around the ubuntu-cve-tracker's git repo I came across https://git.launchpad.net/ubuntu-cve-tracker/tree/README#n477. IMHO we should collect ~https://usn.ubuntu.com/usn-db/database.pickle~ , https://usn.ubuntu.com/usn-db/database-all.json.bz2  it contains list of fixed packages and the vulnerabili

[2020-06-22 13:29] haikoschol commented on #206
Regarding the proposed `Vulnerability` model:

- I would prefer not using `blank=True` and `null=True` for text columns, unless there really is a semantic difference between empty string and `NULL`.
- In theory it is possible that two data sources use the same reference ID for two different vulnerabilities that both don't have a CVE ID. I don't see how we could detect that and avoid updating the v

[2020-06-23 06:04] sbs2001 opened #215 "Collect CodeQL queries for detecting specific vulnerabilities"
https://github.com/github/codeql is a project by GitHub which is to put it simply is SQL for codebases. CodeQL queries are used by LGTM for static analysis of bad code practices.

The more interesting use of CodeQL is in finding security vulnerabilities, the way this works is you run a query designed to find say `CVE-a` on any codebase, and CodeQL determines whether the query is satisfied by the c

[2020-06-23 07:26] pombredanne commented on #215
That's quite interesting: Can you ask and find out where all the "queries" can be found? are they open too?

[2020-06-23 08:52] sbs2001 commented on #215
@pombredanne  they provide queries for  many of them for each language to detect CWEs(not CVEs)
I find this definition of CWE made most sense to me so sharing it here.

NVD provides the CWE for each CVE, so mapping the queries would be something like `query->CWE->CVE`

https://github.com/github/codeql/tree/master/java/ql/src/Security/CWE, https://github.com/github/codeql/tree/master/python/ql/src/

[2020-06-24 11:17] sbs2001 commented on #206
Sure I didn't give it much thought , I want to have the big things right first.

The scenario described is perfect. Rather it actually happened a while ago when you discovered that wrong version range in safety-db

[2020-06-25 07:13] sbs2001 commented on #206
@haikoschol

I remember now, a while back I had posted something like this in chat

This doesn't error out , but it should
[code]

This errors out fine,
[code]

So in the latter case, we were storing empty string in db, while the first case stored NULL in db. The first case creates duplicates. IMHO empty string seems better in this `Package` context.

[2020-06-25 08:34] haikoschol commented on #206
Ah, that's the reason for this behaviour. Makes sense and yet another reason to avoid `blank=True, null=True`. :)

[2020-06-25 09:47] pombredanne commented on #206
we have to be consistent in all cases... @tdruez what's your take on the blank/null thing on Django fields?

[2020-06-25 09:53] pombredanne commented on #206
Here are my notes what our live discussion today:
1.  It would be best to have all models changes in a PR (it is OK that nothing will work and test fails, etc.) this is just to better view the changes and comment on them more efficiently
2. the proposed changes for ImpactedPackage seem fine (minor adjustments may be needed and feedback in the PR will help)
3. for the Vulnerability/VulnerabiltyRefe

[2020-06-25 13:16] tdruez commented on #206
@pombredanne https://docs.djangoproject.com/en/3.0/ref/models/fields/#null

[2020-06-26 10:53] sbs2001 commented on #208
@pombredanne , can you please suggest other concrete alternatives. As @haikoschol suggested  we can use fixtures , but is that going solve the problem? In fact I still don't understand the problem.

[2020-06-26 10:57] sbs2001 opened #217 "API design and use case scenarios for VulnerableCode"
I want to know all possible ways, VulnerableCode will be utilised, so we can start coming up an API design for the REST API.

[2020-06-26 11:28] sbs2001 opened #218 "Create community curation model for VulnerableCode"
Not all data we import is correct, human error may cause may cause declaring non-vulnerable packages vulnerable. Sometimes packages are related to wrong vulnerabilities, this is where community curation comes in.

The idea being, at some point in future  an instance of VulnerableCode will be deployed, users would be able to view and make corrections to the data we are collecting. Something like cl

[2020-06-26 14:38] copernico commented on #207
Thanks for linking [project-kb](https://github.com/SAP/project-kb), I guess we should talk (again :-) ) soon and present a demo of our respective work.

[2020-06-29 16:29] haikoschol commented on #217
For a list (or tree) of dependencies, expressed as Package URLs, return a list of vulnerabilities (and pointers to further information) that affect those dependencies.

[2020-06-30 11:41] sbs2001 commented on #217
That makes sense, a SBOM utility like cyclonedx can directly query for vulnerability status.

My question is should a single request contain a `list` of purls or require multiple requests each containing a distinct purl ? Both of these approaches will get the job done in this scenario.

[2020-06-30 11:44] sbs2001 commented on #217
Add a cve-search  except it won't  be limited to CVEs, various advisory ids like RHSA should be searchable
check  https://github.com/nexB/vulnerablecode/issues/9 .

[2020-06-30 13:14] #212 closed

[2020-06-30 13:47] haikoschol commented on #217
I don't have a strong opinion on this and would go with whatever is easier to implement.

[2020-07-04 14:18] sbs2001 opened #223 "Modify Advisory to encapsulate reference_id and urls properly"
Check https://github.com/nexB/vulnerablecode/pull/216#issuecomment-653743223

[2020-07-04 17:39] pombredanne opened #224 "Add Mattermost security updates"
See https://mattermost.com/security-updates/

[2020-07-15 16:39] sbs2001 opened #226 "Check types in CI"
Since the codebase mostly uses `typing` the CI should enable a type checking.

Because wrong types are worse than no types at all.

We could start by simply running a mypy check in the CI.

[2020-07-19 12:26] sbs2001 commented on #217
@haikoschol  @pombredanne   how does this look ?

The endpoint would be `api/packages/`

The parameters would be our regular purl's field

for example  the response for `api/packages/?name=openssl&version=1.1.0j&type=generic` would be.

[code]

We could add a hyperlink to the view which has details of the vulnerability

[2020-07-19 16:27] inksong opened #229 "Better deployment, more convenient usage"
Have you thought about packaging the vulnerablecode into a docker or using other packaging methods?
I know we are in WIP state, but I still hope to deploy it more conveniently.
It now appears that for those who only care about data, the entire system is not packaged and easy to use.

[2020-07-22 11:17] #208 closed

[2020-07-23 10:32] pombredanne opened #232 "On the identification of vulnerabilities"
We need to have some externally stable identifier for a vulnerability.
By stable I mean that should be there forever and immutable so it can be used reliably to reference a vulnerability.

A CVE may not exist so we have a problem with using CVE everywhere.
When there is no CVE:
1. we could request a CVE id https://cveform.mitre.org/ and that's a manual process that not straightforward and we may n

[2020-07-24 06:15] sbs2001 commented on #232
I don't know whether this is same as using hashes but here it goes :

We will use your suggested Vulnerability model. To make this work we will need the identifier to have some field to denote the importer which encountered the CVE-less vulnerability, eg VULCODE-NPM-0001 (TBD) , which tells me this vulnerability was encountered by https://github.com/nexB/vulnerablecode/blob/develop/vulnerabilities

[2020-07-26 05:41] sbs2001 opened #233 "Parse CHANGELOGS to discover new Vulnerabilities"
FYI This came up in @pombredanne 's talk at  Open Source Summit 2020.

The idea is, FOSS projects which don't come under any [CNA](https://cve.mitre.org/cve/cna.html) might have discovered several bugs which may come under security category and due to
-1. The complexity of getting a CVE
or
-2 Inability to classify a bug as a security issue.

Such security issues may go unnoticed. If we are able to

[2020-07-26 10:13] pombredanne commented on #210
@sbs2001 did you also considered what indexes you have on the data? And is this ticket still relevant now?

[2020-07-26 14:51] sbs2001 commented on #232
About automating for applying CVEs

https://cve.mitre.org/cve/cna/CVE_Entry_GitHub_Submission_slides-only.pptx

[2020-07-27 14:08] sbs2001 commented on #209
Turns out this was not the problem. https://github.com/nexB/vulnerablecode/pull/216#issuecomment-653778007 and https://github.com/nexB/vulnerablecode/issues/223 for details

[2020-07-27 14:08] #209 closed

[2020-07-27 14:33] sbs2001 commented on #63
Things which we already use, without clarification of LICENSE. We need to reach/dig deeper  these sources

- [ ] https://gitlab.alpinelinux.org/alpine/infra/alpine-secdb

- [ ] https://security.archlinux.org/json

- [ ] http://ftp.suse.com/pub/projects/security/yaml/

- [ ] https://usn.ubuntu.com/usn-db/database-all.json.bz2

- [ ] https://api.github.com/graphql

- [ ] https://anongit.gentoo.org/g

[2020-07-29 17:38] pombredanne commented on #217
I am sure we can find a better name than "resolved_to" and "vulnerable_to" somehow that does not feel evident as names...
Also why not exposing first and mostly a purl rather than the purl fields?

[2020-07-30 04:39] sbs2001 commented on #217
@pombredanne

Consider them as placeholders for now.

That works too, are there any pros and cons of using one over another?

[2020-07-30 05:20] sbs2001 opened #238 "Leverage last modify date given by data sources"
Data sources like json security tracker provided by archlinux , redhat, debian  in their response headers give last modified date. We can compare an importer's last run date with the modified date to determine whether new data is available in the tracker else skip them.

[2020-07-30 20:24] pombredanne commented on #217
a purl has been designed as a single simple string... exposing its parts is fine for query but that would not be the primary entry point IMHO

[2020-07-31 13:14] sbs2001 commented on #217
@pombredanne

I'm torn between the 2 options of using string vs fields for a purl.

How about wrapping the fields like this

[code]

[2020-08-03 07:19] sbs2001 commented on #217
I'm pretty sure the endpoint is wrong. We are getting packages + vulnerabilities , the url should denote that

[2020-08-05 05:54] #29 closed

[2020-08-05 17:34] atharwa-24 commented on #175
Does a code coverage report present ?
I tried adding the badge but didn't found the .yaml file

[2020-08-06 05:11] sbs2001 commented on #175
@atharwa-24

We don't have one yet. To close this ticket, we need to add the report+the badge :)

[2020-08-06 05:33] atharwa-24 commented on #175
Ok

[2020-08-06 13:02] sbs2001 commented on #74
Fixed by https://github.com/nexB/vulnerablecode/pull/204

[2020-08-06 13:02] #74 closed

[2020-08-08 04:38] sbs2001 opened #242 "Refactor import_runner.py"
https://github.com/nexB/vulnerablecode/blob/develop/vulnerabilities/import_runner.py

The module has lot of duplicate code. We will also get rid of import mechanism for  `added_advisories`  because it was based on the assumption that intersecting data can't be obtained  via different data sources. A bug in packageurl-python caused confirmation of the assumption. This bug in purl-python is fixed vi

[2020-08-10 13:46] #223 closed

[2020-08-12 10:08] sbs2001 commented on #217
The vulnerability-package search would give response like

[code]

[2020-08-12 10:31] pombredanne commented on #217
@sbs2001  you wrote

I prefer full URLs than providing href

And as for providing a reference vs. embedding the results... you typically need both, but it is simpler (for the user) to hve things embedded for a start (unless you have too much data which would only make sense through another call)

[2020-08-12 13:15] tdruez commented on #217
For the Package endpoint `api/packages/`, instead of (from https://github.com/nexB/vulnerablecode/issues/217#issuecomment-672781490):
[code]

A better data structure would be:
[code]

[2020-08-13 05:43] sbs2001 commented on #217
@tdruez  thanks, that works too and probably is easier to implement too. The issue is, for (package, vulnerability) relation, either the package is vulnerable to that vulnerability or some previous version of the same package was vulnerable to this vulnerability.

So we want to group all vulnerabilities for a package accordingly.  I didn't consider adding the resolved vulnerabilities in https://gi

[2020-08-15 11:17] sbs2001 commented on #217
We definitely need to distinguish between the vulnerabilities which  are resolved and impact a package.

Having said that using @tdruez  's data structure from https://github.com/nexB/vulnerablecode/issues/217#issuecomment-672863607 in a slightly different manner works.

[code]

[2020-08-15 19:34] pombredanne commented on #217
I would use `purl` rather than `packageurl` to be consistent with ScanCode.
The order of the purl fields matters too: always go from left to right and include them all: `type, namespace, name, version, qualifiers, subpath`
As for the vulnerabilities here are some suggestions. ((think also about all the qualifiers you give of bugs and issues)
- `resolved_vulnerabilities` or `closed_vulnerabilities`

[2020-08-16 09:58] sbs2001 commented on #217
As for naming I would use resolved/unresolved_vulnerabilities.

About cve_id :

We'll use `vulnerability_id` the value will be either a `VULCODE` or a `CVE` as discussed https://github.com/nexB/vulnerablecode/issues/232  depending upon whether CVE is available.

[2020-08-18 08:04] sbs2001 commented on #217
Here's how it's gonna be.

`/api/vulnerabilities/{pk}` -> Gives details of vulnerability object with pk = pk . Response looks like https://github.com/nexB/vulnerablecode/issues/217#issuecomment-674384355 with minor name  differences as suggested by https://github.com/nexB/vulnerablecode/issues/217#issuecomment-674439115

`/api/packages/{pk}` -> Gives details of package object with pk = pk .  Respo

[2020-08-19 10:02] rolfschr opened #244 "Cannot import safetydb"
Hi,

I setup everything locally (tests & migrations run fine) and started the import process. I cannot seem to import safetydb. Please find below the error log. The likely culprit is [here](https://github.com/pyupio/safety-db/blob/master/data/insecure_full.json#L2640).
[code]

[2020-08-19 13:57] sbs2001 commented on #244
@rolfschr  you are right I had noticed the issue before too, more precisely https://github.com/pyupio/safety-db/blob/c4f4673861c540659b8995cf23af2915c584e9d3/data/insecure_full.json#L2640 .

A quick fix would be to comment out     https://github.com/nexB/vulnerablecode/blob/80f78da812338d5f82a5c12c0561d505df7a327d/vulnerabilities/importers/safety_db.py#L65.

PRoper solution would be to ping safety

[2020-08-24 12:47] sbs2001 commented on #238
Fixed via https://github.com/nexB/vulnerablecode/pull/241

[2020-08-24 12:47] #238 closed

[2020-08-24 12:49] sbs2001 commented on #210
Fixed due to improved imports via https://github.com/nexB/vulnerablecode/pull/219 and usage of async requests in https://github.com/nexB/vulnerablecode/pull/236

[2020-08-24 12:49] #210 closed

[2020-08-24 12:49] sbs2001 commented on #187
VulnerableCode now uses async everwhere to API calls via https://github.com/nexB/vulnerablecode/pull/236, hence closing this

[2020-08-24 12:49] #187 closed

[2020-09-06 15:37] pombredanne commented on #215
It looks like codeql (the runtime engine) is NOT open source: see https://securitylab.github.com/tools/codeql/license and https://github.com/github/codeql-cli-binaries
So unless we would gain explicit authorization from GitHub I would not too comfy with using this

[2020-09-10 07:54] pombredanne opened #248 "Store version ranges"
https://github.com/nexB/vulnerablecode/issues/65 and https://github.com/nexB/vulnerablecode/issues/84 don't provide concrete versions hence we need to store version ranges for that we must first improve the data models

[2020-09-10 08:03] pombredanne commented on #140
From dupe 248:

[2020-09-10 08:03] pombredanne commented on #248
Closed as dupe of #140

[2020-09-10 08:03] #248 closed

[2020-09-10 08:07] pombredanne opened #249 "Add deployment instructions"
@haikoschol

[2020-09-10 08:17] pombredanne commented on #63
See also https://github.com/nexB/scancode-toolkit/issues/2143 for the Rubysec data

[2020-09-10 08:23] pombredanne commented on #18
Closed in favor of the discussions in #157

[2020-09-10 08:23] #18 closed

[2020-09-10 08:23] pombredanne commented on #157
from https://github.com/nexB/vulnerablecode/issues/18#issuecomment-590652923

[2020-09-10 08:52] pombredanne commented on #88
ossf/wg-vulnerability-disclosures#18 there is this data sheet linked:
https://docs.google.com/spreadsheets/d/1yr72lUOGOwUMbpVg9g-ET8L531_Yec0oqFbr88Gs8tQ/edit?usp=sharing
It basically tells how long it takes for a vulnerability made public on HackerOne to be registered at the NVD and receive a proper CVE
e.g. "Days CVE Disclosed after H1 Disclosed"

[2020-09-10 09:15] pombredanne opened #250 "Adopt calver"
Because vulnerablecode provides both data and code and that each are not dissociableand that data needs to be kept current to ensure up to date vulnerability data I suggest we switch to use a calver version scheme http://calver.org/ as in YY.minor.micro where YY would be the year on two digits, minor a month. Micro would be used only if needed between month versions. If there is agreement, I would

[2020-09-10 09:15] pombredanne commented on #250
@sbs2001 @haikoschol ping

[2020-09-10 09:17] pombredanne opened #251 "Process unstructured data sources"
These contain valuable data nuggets among an ocean of junk and we need to be able to find the good things there.

Some sources are:

 - mailing lists such as #100 #104 #108
 - changelogs #233
 - reflogs of commit (see also the commits from vulncodedb and SAP/Eclipse steady KB)
 - bug and issue trackers (such as Django, etc)

We can either automate it all, but that's going to be super difficult, or

[2020-09-10 09:17] pombredanne opened #252 "Build a graph of packages and vulnerabilities"
This feature is to group packages across all the different types (say openssl) that share the same version to find vulnerabilities that exist in other types of packaging of the same code and same version.

Consider using libversion and repology as helpers and also there are version-related tickets that need to be addressed

[2020-09-10 09:18] pombredanne opened #253 "Deploy on public server"
- [x] Decide on a DNS domain name and acquire name
- [x] Provision server (Philippe), possibly with GCP credits at least for the initial DB creation
- [x] create deploy and backup scripts
- [x] deploy proper

[2020-09-10 09:18] pombredanne commented on #217
I think we are all set there. Closing!

[2020-09-10 09:18] #217 closed

[2020-09-10 09:20] sbs2001 commented on #217
https://github.com/nexB/vulnerablecode/pull/247

[2020-09-15 17:05] #242 closed

[2020-09-24 05:59] sbs2001 commented on #252
Here's how repology composes the package graph.

From https://github.com/repology/repology-updater/commit/7a9f741a35f71c9113f38e3cb224d4f684e4837c

[code]

The algorithm implementation is here https://github.com/repology/repology-updater/blob/1f14f67c65e7f0a34ff7374d293ea61852516610/sql.d/schema/create_schema_functions.sql#L87 .

So repology considers versions as minor factor than links when guess

[2020-09-24 08:02] sbs2001 commented on #244
Created a ticket at safetydb https://github.com/pyupio/safety-db/issues/2323

[2020-09-24 09:11] sbs2001 commented on #207
@elanzini  are you sure https://github.com/google/vulncode-db has commit links other than the one provided my NVD ? I've looked at couple of entries at vulncode-db and all seem to have same data as provided by NVD.

FYI  I am working on importing project KB. Eventually we want to  tag references as you suggested.

[2020-09-24 13:48] #229 closed

[2020-09-24 13:51] #71 closed

[2020-09-24 14:02] pombredanne commented on #252
@sbs2001 excellent find!

[2020-09-24 14:55] copernico commented on #207
Re: importing from project KB: the `kaybee` tool can be easily configured to export to whatever (textual) format, and I can assist with that. Also note that the idea of project KB is that there exist an arbitrary number of repositories that share vulnerability information, and not a central repository: instead of replicating the logic of selecting sources and aggregating them, you could consider u

[2020-09-24 15:28] elanzini commented on #207
@sbs2001 That only holds for a handful of cases where they were manually curated. Most importantly, the biggest problem is to find links that lead to diffs, which indicate what was changed to fix the vulnerability.

Most of those links are GitHub commits, issues, prs but you also have to take into account GitLab, Bugzilla, JIRA tickets, SVN and a bunch of others (e.g. Mailing lists). The landscape

[2020-09-24 15:35] sbs2001 commented on #207
@copernico

That's awesome you guys rock, can't wait.

As for

I never thought of it this way. Thinking about the tool `kaybee` I see it very valuable for VulnerableCode and a perfect tool to aid in https://github.com/nexB/vulnerablecode/issues/232 since we eventually(very soon) want to share a knowledge base.

I definitely need to learn more about `kaybee` but https://sap.github.io/project-kb/ do

[2020-09-24 15:46] sbs2001 commented on #207
@elanzini

Atm just the links. IMHO  `vulncode-db` does a great job at showing the diff information when it is feeded gh commit links.

That's interesting, is there a repo I can check ? Where do you get these links from ?

[2020-09-24 16:28] copernico commented on #207
True (we have a tool that is not very useful without some data, indeed ;-) )
We were supposed to publish the first batch of statements (that's how in project KB we call the files that contain data about a vulnerability) this week; we could still make it, but not sure because we are conducting an extra round of QA to be sure we publish high quality information (prioritizing repositories that are po

[2020-09-24 17:29] elanzini commented on #207
@sbs2001

It's not really about showing the diffs but gathering diff information, *not only from gh commits*, so that they can be used for research and to pinpoint vulnerabilities at a more fine-grained detail. So, ideally, once you gather patches ([that look like this](https://issues.apache.org/jira/secure/attachment/12595780/ZOOKEEPER-1392.patch)) you can show them and use it in other useful way

[2020-09-25 17:01] copernico commented on #232
In project KB we have an "alias" field to state that the vulnerability in a statements is also known under another ID, but this is just an idea and not yet fleshed-out in project KB.

[2020-09-26 08:46] sbs2001 commented on #244
This will be fixed on safetydb's side as mentioned at https://github.com/pyupio/safety-db/issues/2323#issuecomment-698375915 soon

[2020-09-29 08:45] pombredanne commented on #253
@edoardolanzini ping, FYI

[2020-10-07 06:51] sbs2001 commented on #140
**Context**

Security advisories as a part of convention provide patched/vulnerable packages using a version range. For eg ruby provides this https://github.com/rubysec/ruby-advisory-db/blob/6efbdb053cbe41e55f435ddee25a1562fb73f3f2/gems/actionpack/CVE-2012-1099.yml#L23

When an advisory provides such version ranges we in ideal case want to convert the version range into a discrete set of versions,

[2020-10-07 09:31] copernico commented on #140
Maybe it is not necessary to require that version ranges should be resolved a-priori (that is, resolved to generate a finite set of *existing* artifacts); they could be used to determine a-posteriori whether or not a given artifact is in the range or not. The advantage of the latter method is that you would not need the API to determine what exists.
In practice though, one needs to enforce some li

[2020-10-07 10:54] sbs2001 commented on #140
@copernico

Ranges with single bound are problematic (they ignore backports). A more formal way of `allow only the last segment ` is to use the `pessimistic-operator` https://thoughtbot.com/blog/rubys-pessimistic-operator . There's tooling for that alright.

**Unrelated to this :**
I actually proposed something similar which was to  avoid resolving ranges entirely and store them directly in DB (yo

[2020-10-07 11:32] copernico commented on #140
@sbs2001 I think the pessimistic operator (which I ignored, thanks for the pointer) describes exactly the semantics I had in mind. Re: backports: I am not sure I understand what you mean; in any case I would stay away from using wallclock time (as in released-before, or released-after) when determining if a version is "after" or "before" another: I guess what matters are version identifiers: for s

[2020-10-13 10:41] pombredanne commented on #140
@sbs2001 you wrote:

Do you mind digging this up and pasting the chat log in a comment here?

[2020-10-13 10:43] pombredanne commented on #140
For reference there is a related Package URL PR by @david-a-wheeler at https://github.com/package-url/purl-spec/pull/93 that I need to reply to and tickets at https://github.com/package-url/purl-spec/issues/66 and https://github.com/package-url/purl-spec/issues/84

[2020-10-13 11:32] pombredanne commented on #140
Here are some thoughts and background rehashing for reference:

### Context
There is no (mostly) universal syntax for version ranges and there is no (mostly) universal ways to compare two versions. Each package type may define their own syntax and semantics. For instance:
- Rubygems https://guides.rubygems.org/patterns/#semantic-versioning
- node-semver as used for npms https://github.com/npm/node

[2020-10-13 14:46] david-a-wheeler commented on #140
@pombredanne - thanks for the excellent list of examples! That at least gives us specific examples to compare.

[2020-10-13 14:48] pombredanne commented on #140
@david-a-wheeler frankly I wished everyone would use semver ;)

[2020-10-13 16:01] sbs2001 commented on #140
@pombredanne

Here are somerelevant messages regarding that matter. You can search gitter   using this and read the whole thing there :)

[code]

[code]
[code]
[code]

[2020-10-13 16:11] joshbressers commented on #140
My thinking on this has morphed a bit since my initial comments in https://github.com/package-url/purl-spec/issues/84

My use case revolves around semver (and only semver) and it's still painful. The example: introduced in version 7.0.0 and 6.5.2 and fixed in version 7.1.1 and 6.8.12 is VERY hard to capture in a way that is easy to understand or parse.

I now plan to create a service focused speci

[2020-10-13 16:52] sbs2001 commented on #140
@joshbressers

You are not really solving the problem.

I was on the same page as you until I had a chat with @pombredanne  regarding using "chronology" as a basis for version comparision :

[code]
And also

would need some comparator function. This approach would work if you are working with just some sane versioning scheme, like semver.

[2020-10-13 17:10] sbs2001 commented on #140
@joshbressers    I am curious, how would you obtain `only vulnerable PURL IDs`  ?  AFAIK almost all security advisories compress those discrete set of packages into version ranges and let the consumer interpret/resolve the ranges.

[2020-10-13 17:11] joshbressers commented on #140
Hah, I figured chronological would be a less confusing way to describe this all, I was clearly wrong :)

Let's ignore that word. What I really want is a list of releases in order. I wrongly assumed dates could do that

Here is an example

My version list in the order it was released looks like this

[code]

I know there is a vulnerability in
[code]

So we end up with something that looks like this

[2020-10-13 17:23] pombredanne commented on #140
@joshbressers

neat! if you think there is some bits and data that could be useful feel free to reach out!

[2020-10-13 17:25] joshbressers commented on #140
Thanks @pombredanne!

Everything I do will end up public on github, I'll certainly be looking for honest feedback :)

[2020-10-13 17:40] pombredanne commented on #140
same here! :+1:

[2020-10-13 18:33] pombredanne commented on #140
And a few extra references to versions specs in the wild:
- Gentoo https://wiki.gentoo.org/wiki/Version_specifier
- Alpine linux https://gitlab.alpinelinux.org/alpine/apk-tools/-/blob/master/src/version.c (which might be using Gentoo conventions)
- Go https://golang.org/ref/mod#versions which uses semver  with some twists on

[2020-10-13 19:51] copernico commented on #140
Very interesting discussion; I have *not* gone through all the different version specification schemes and I am somewhat familiar with only a small subset of them, but I suspect (should I say, _hope_) they are all variants of a general scheme x.y.z.j.k.h where versions can be arranged in a tree with a depth `d` that is a small integer (typically 3 or 4), as depicted in this figure (for a subtree c

[2020-10-13 20:18] david-a-wheeler commented on #140
There are exceptions. [Sentimenal versioning](http://sentimentalversioning.org) lists some examples.

In TeX and METAFONT (two tools widely used in mathematics), new versions add a new digit approaching an irrational number. The version numbers of TeX approach π (the current version is 3.14159265) and the version numbers of METAFONT approach e.

Perhaps more importantly, projects occasionally CHAN

[2020-10-14 13:54] pombredanne commented on #140
@copernico you wrote:

I think that your generalization works as it stands. Even if Debian and RPM packages use of epochs as pointed by @david-a-wheeler  the epoch would still fit in a tree view of the versions world as the first optional segment.

IMHO the variations are on how you would create that tree that would require to compare version and things that do change are whether:
- each version s

[2020-10-19 12:14] sbs2001 commented on #140
I and @pombredanne   recently had a discussion regarding how to  handle version ranges of packages in the context  of vulnerablecode. And we decided to run a little experiment.

We would store concrete relationships between  packages(these include version) and  vulnerabilities the same way we are already doing.

Now coming to new things :

We would have another table  like  :
[code]

Eg value of `

[2020-10-19 13:22] sbs2001 commented on #250
VulnerableCode now uses cal ver https://github.com/nexB/vulnerablecode/releases/tag/v20.10

[2020-10-19 13:22] #250 closed

[2020-10-19 13:50] pombredanne commented on #140
@sbs2001 this makes ++ sense. To recap and reformulate my understanding this would mean:
1. we experiment with using a mostly universal syntax for version ranges based on the well specified https://www.python.org/dev/peps/pep-0440/#version-specifiers . This is used to store a version range as a single string
2. the actual comparison procedure of two versions (and the check if a version falls withi

[2020-10-20 08:21] pombredanne opened #266 "Import failures"
Using this branch https://github.com/nexB/vulnerablecode/tree/misc-updates  (with exception catching and enhanced logging) I get these errors:
[code]

[2020-10-20 09:06] pombredanne commented on #244
I am still facing the issue. Let's keep it open until fixed and IMHO we should either
1. disable pypu for now
2. in all cases we should always be able to cope with problematic data

[2020-10-20 09:44] sbs2001 commented on #266
This is one  failing test
[code]

[2020-10-20 09:46] pombredanne commented on #266
perfect :+1:  Let's turn this in a unit test

[2020-10-20 10:23] pombredanne commented on #266
note that in your examples in https://github.com/nexB/vulnerablecode/issues/266#issuecomment-712729816 I would treat adv1, adv2 and adv3 as three different vulnerabilities for now. The only way to confirm that they may be the same would be on more data (which in our case would be more references)

[2020-10-20 12:57] pombredanne commented on #229
@inksong have you been able to test the new Dockerfile and Docker compose?

[2020-10-21 05:06] Abhigyankrsingh opened #268 "There are some spelling and grammatical mistakes in README.rst"

[2020-10-21 07:13] sbs2001 commented on #268
Fixed via https://github.com/nexB/vulnerablecode/pull/269

[2020-10-21 07:13] #268 closed

[2020-10-21 07:15] sbs2001 commented on #266
@pombredanne

The test is at https://github.com/sbs2001/vulnerablecode/blob/8717f5f22552821ca170326328c343e6c16aa147/vulnerabilities/tests/test_import_runner.py#L333 .

I've added a crude fix in that branch at https://github.com/sbs2001/vulnerablecode/blob/8717f5f22552821ca170326328c343e6c16aa147/vulnerabilities/import_runner.py#L252

[2020-10-30 06:32] sbs2001 opened #272 "Make VulnerableCode less fragile to schema changes in upstream projects"
This is related to https://github.com/nexB/vulnerablecode/issues/266 and https://github.com/nexB/vulnerablecode/issues/244 .

Currently we use schema validators like https://github.com/nexB/vulnerablecode/blob/40fe93611703cd37eb18e72bf2c9c747e5da1863/vulnerabilities/importers/debian.py#L44 . The rationale I had behind using it was to have loud failures and prevent VulnerableCode to insert garbage

[2020-10-30 06:41] sbs2001 commented on #272
Also note that, for the point 3 of the my above comment, to  add more value we want our "gather" process to be bulletproof. Which it is NOT atm, but we can get there alright .

[2020-11-01 11:43] utkarsh147-del commented on #108
I want to work in this project.Please give this to me

[2020-11-11 14:59] sbs2001 commented on #266
The ubuntu oval importer is erroring out due to a bug/feature of dephell_specifier : Here's a test case :

[code]

[2020-11-13 13:36] sschuberth opened #276 "Add Sonatype OSS Index as a data source"
Already mentioned at https://github.com/nexB/vulnerablecode/issues/106, I'm particularly interested in getting the [Sonatype OSS Index](https://ossindex.sonatype.org/) as a data source, in the context of [using VulnerableCode in ORT](https://github.com/oss-review-toolkit/ort/issues/3287). I'm splitting this out as a separate issue to be able to track this individually.

https://github.com/dotanuki

[2020-11-15 10:45] sbs2001 commented on #276
@sschuberth  thanks for considering to use VulnerableCode at ORT.

I had looked at Sonatype OSS Index a long time ago. The problem with Sonatype OSS Index as a data source, is that it provides no way to obtain `package->vulnerablity` mappings in case we don't have  have a  list of `packages` already(before running the import).  And vulnerablecode atm is just a DB, not a scanner.

For eg check the

[2020-11-15 13:47] sschuberth commented on #276
Can't you simply do it on demand? I'm not sure how VulnerableCode works internally, but I would have expected it to be able to work as a "dispatcher" that, given some coordinates in PURL or another format, is able to query all known data sources for those coordinates.

But what you're saying sounds more as if VulnerableCode was some kind of mirror, which imports all data from all known sources (in

[2020-11-15 13:56] sbs2001 commented on #276
Exactly ! Atleast for now you can call it that.  It collects data from these sources and converts it into the `purl->vulnerability` format. Once data is imported you can use just vulnerablecode as a single dispatcher which would be equivalent to querying each data source individually.

[2020-11-15 16:51] sschuberth commented on #276
I see.

Unfortunately, I believe this would not work well, as OSS Index seems to complement the existing data sources and probably contains information about many components / languages that are not covered in the other data sources.

[2020-11-17 22:16] #98 closed

[2020-11-18 09:41] sbs2001 commented on #72
Essentially we want to scrape/mine/consume the pages at https://alas.aws.amazon.com/ and https://alas.aws.amazon.com/alas2.html .

[2020-11-18 09:57] tushar912 commented on #72
Taking it up @sbs2001 @pombredanne !

[2020-11-18 11:28] pombredanne commented on #232
Repasting from https://github.com/nexB/vulnerablecode/pull/259#issuecomment-729599079 for reference:

[2020-11-18 11:34] pombredanne commented on #233
As a test what about a project such as Django or Flask?
That could be a practical first thing to work on. And there is also an another related way by using git reflog

[2020-11-18 13:11] pombredanne commented on #266
@sbs2001 this is a bug upstream IMHO
@orsinium what's your take?

[2020-11-18 15:50] tushar912 commented on #72
I checked https://alas.aws.amazon.com/  but I found that the table does not contain fixed and affected versions . I even checked the advisory url( eg <code>https://alas.aws.amazon.com/ALAS-2011-1.html</code> )but did not find the same. @sbs2001 @pombredanne can you help me.

[2020-11-18 16:07] sbs2001 commented on #72
@tushar912  the new packages mentioned at the advisory page are the fixed packages. It seems there is no easy way to obtain exact affected packages so you can skip finding them.

[2020-11-18 19:51] DennisClark opened #277 "RFC: Specify a license for vulnerablecode Data"
We need to specify a license for vulnerablecode Data.  Workable candidates include:

`cdla-permissive-1.0`
https://cdla.io/permissive-1-0/
https://spdx.org/licenses/CDLA-Permissive-1.0.html

and

`cc-by-4.0`
http://creativecommons.org/licenses/by/4.0/legalcode
https://spdx.org/licenses/CC-BY-4.0.html

Both licenses are also in the scancode list.

[2020-11-19 12:56] tushar912 commented on #72
@sbs2001 I am still confused .Currently what I conclude is to create a <code>PackageURL</code> object we need version .But currently what I find is that the table doesn't provide any thing related to version of the package which is affected.Please help.

[2020-11-19 15:32] pombredanne commented on #72
@tushar912 in https://alas.aws.amazon.com/ALAS-2011-1.html I can see this:

- Affected Packages: httpd (no version alright for now and not much data)
- New packages (e.g. where this is fixed):
  - i686:
    httpd-devel-2.2.21-1.18.amzn1.i686
    httpd-debuginfo-2.2.21-1.18.amzn1.i686
    httpd-2.2.21-1.18.amzn1.i686
    httpd-tools-2.2.21-1.18.amzn1.i686
    mod_ssl-2.2.21-1.18.amzn1.i686
  - noar

[2020-11-19 16:50] tushar912 commented on #224
@pombredanne Can i work on this?

[2020-11-19 16:55] tushar912 commented on #72
Ok . I understood New Packages are the ones that are fixed and whatever are before were affected.

[2020-11-19 17:39] pombredanne commented on #72
ok, sorry it it felt like a rehash ....that said  we may not have a version that is affected, but rather a version range.
@sbs2001 what do you think? that looks like a good use case for the ranges/spec?

[2020-11-19 19:02] DennisClark commented on #277
@pombredanne   Regarding the overly complex aspect of the cdla-permissive-1.0 license text that you were concerned about, I did a quick comparison between the texts of it and cc-by-4.0, and discovered that the amount text in cdla-permissive-1.0 is roughly 60% of the amount of text in cc-by-4.0.    So maybe one is still easier to read and understand than the other, but cc-by-4.0 is definitely way m

[2020-11-19 19:10] DennisClark commented on #277
@pombredanne   I did find, I think, a substantive difference between the two licenses.  `cc-by-4.0`  contains the following statement:
[code]

whereas the other license has

[code]

Which tells me that if we want to prevent any sublicensing (and I'm not at all sure if we do, and have no opinion on that) then we might want to use cc-by-4.0; otherwise, the cdla-permissive-1.0 is less restricted and

[2020-11-20 09:45] sbs2001 commented on #99
Closed via https://github.com/nexB/vulnerablecode/pull/261

[2020-11-20 09:45] #99 closed

[2020-11-20 09:45] sbs2001 commented on #96
Closed via https://github.com/nexB/vulnerablecode/pull/264

[2020-11-20 09:45] #96 closed

[2020-11-20 10:20] pombredanne commented on #277
@DennisClark Thank you ++

Some extra considerations as we are integrating other data:
- from the NVD and the terms of these are summarized nicely here  https://github.com/google/vulncode-db#third-party-data
- you can see the details here https://github.com/nexB/vulnerablecode/blob/1959a22bda489483e8c3a049484a1f8fa3330318/vulnerabilities/importer_yielder.py#L25
we still have several gaps of actual

[2020-11-20 10:21] pombredanne commented on #63
See also #277

[2020-11-20 12:31] pombredanne opened #279 "Collect vulnerabilties for maven packages"
There is no dedicated source of data for Maven/Java package vulnerabilities. We should ensure that we can surface that data from our other sources with proper package URLs.

[2020-11-20 12:37] sbs2001 commented on #279
The GitHub importer does import maven vulnerabilities.

[2020-11-20 12:49] sschuberth commented on #276
Thanks to @pombredanne who separately pointed out to some issues with the OSS Index's [terms of service](https://ossindex.sonatype.org/tos) what would prevent us from integration into VulnerableCode, which I've also summarized [here](https://github.com/oss-review-toolkit/ort/issues/718#issuecomment-731150111).

[2020-11-20 12:49] #276 closed

[2020-11-20 13:05] sbs2001 opened #280 "Adapt rust importer to new data format adopted by rust advisory db"
See https://github.com/RustSec/advisory-db/pull/420 . Our implementation is for old format. We need to adapt to new MD + TOML hybrid data format.

[2020-11-21 07:13] tushar912 opened #282 "Add FAQ section in docs"
Add a FAQ section in docs with a question related to importing data while setting up VulnerableCode.

[2020-11-23 11:22] #282 closed

[2020-11-24 10:40] #249 closed

[2020-11-24 10:41] sbs2001 commented on #249
Dups https://github.com/nexB/vulnerablecode/issues/253

[2020-11-24 14:10] MarcelBochtler opened #284 "REST API: Bulk requests for packages and vulnerabilities"
We're planning to [add support for vulnerablecode](https://github.com/oss-review-toolkit/ort/issues/3287) into the [ORT advisor](https://github.com/oss-review-toolkit/ort#advisor).
The existing advisor module for Nexus IQ Server is using a single POST request with all [PURLs](https://github.com/package-url/purl-spec) in the body to retrieve vulnerability informations about all the packages, see: h

[2020-11-24 17:51] pombredanne commented on #276
The comments from https://github.com/oss-review-toolkit/ort/issues/718#issuecomment-731150111 are:

Basically OSSIndex ToS and license is 100% proprietary and there is nothing that can be done with this at all.

[2020-11-24 17:54] pombredanne commented on #284
@MarcelBochtler Excellent request! Let's design how you would like the API to behave.

[2020-11-26 07:36] sschuberth commented on #279
Any idea how comprehensive these are compared to sources dedicated to Maven / Java?

[2020-11-26 07:42] sschuberth opened #286 "Add support for DotNet security vulnerabilities"
Thanks to @neubs-bsi who pointed me at https://github.com/RetireNet/dotnet-retire which uses https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/releases-index.json as the endpoint to query DotNet security vulnerabilities.

Could VulnerableCode import from the same endpoint to add DotNet security vulnerabilities?

[2020-11-26 07:48] sbs2001 commented on #286
@sschuberth  We do have https://github.com/nexB/vulnerablecode/blob/main/vulnerabilities/importers/retiredotnet.py which imports  the data from https://github.com/RetireNet/Packages . Need to research whether that covers https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/releases-index.json , if it doesn't then I'll file a PR to leverage that data  too.

[2020-11-26 07:51] sschuberth commented on #286
Cool, thanks! Which brings me to another point: How about adding to the main README the already covered sources (grouped by programming language / software tool)?

[2020-11-26 07:56] sbs2001 commented on #286
That's a great idea. Expect that to happen soon.

[2020-11-26 08:20] sbs2001 commented on #279
There's 248 vulnerable maven packages available from the GitHub API.  Upon resolving the version ranges, we have about 15478 maven purls and their mappings to vulnerabilities.

[2020-11-26 08:30] sschuberth commented on #279
Compared to that, Sonatype OSS Index seem to have [9152](https://ossindex.sonatype.org/browse/maven?page=9152) pages of Maven security data, each page with 50 entries, resulting in 9152 * 50 = 457600 data sets.

[2020-11-26 09:16] sbs2001 opened #287 "Collect Elixir security advisories"
Import data from https://github.com/dependabot/elixir-security-advisories

[2020-11-26 09:27] sbs2001 opened #288 "Collect go announces"
See https://groups.google.com/g/golang-announce

This is unstructured data, but we need it anyway.

[2020-11-26 13:00] MarcelBochtler commented on #284
As a GET request would not be feasible to handle all PURLs as a query parameter I'd suggest a POST endpoint containing required package information in its body.

To be consistent to the existing API, I'd suggest to offer this functionality for `packages` and for `vulnerabilites`.

## Packages

This should return the list of package details incl. the vulnerabilities' `reference_id`s

For my use cas

[2020-11-26 13:01] sschuberth commented on #284
Shouldn't the response also tell you which package of the bulk request is affected by which vulnerability?

[2020-11-26 13:09] MarcelBochtler commented on #284
The `Package` model contains lists of `resolved_vulnerabilities` and `unresolved_vulnerabilities` both containing `vulnerability_id`s that can be used to get more details from the `Vulnerabilities` endpoint.

[2020-11-26 13:32] sbs2001 commented on #279
@sschuberth  the OSS index seems to collect all maven irrespective of whether the package is vulnerable or not, hence the large number.  VulnerableCode atm collects only maven packages who are/were found to be vulnerable.

[2020-11-26 13:47] sbs2001 commented on #279
Eg there are 145154 CVEs published till now, which is nowhere close OSS index's 457600 maven packages.  Those are mostly package descriptions.

FYI @pombredanne  is working on a project called packagedb (soon to be public FOSS) which essentially collects all known packages from almost all  ecosystems.  packagedb + vulnerablecode 's combined dataset would be even more comprehensive then OSS Index b

[2020-11-26 13:59] sschuberth commented on #279
Which makes absolute sense 👍

But I'm still concerned that VulnerableCode might currently contain far less known Maven package vulnerabilities than there are. However, I cannot prove this with numbers. Do you know a good source that states how many known vulnerabilities there currently are in Maven packages, so we can estimate how good VulnerableCode's data currently is in this regard?

[2020-11-26 14:21] pombredanne opened #289 "Collect Maven vulnerabilities"
@sschuberth wrote in https://github.com/nexB/vulnerablecode/issues/279#issuecomment-734313798

[2020-11-26 14:53] pombredanne commented on #289
@sbs2001wrote:

The quick answer is that there is NO public and open data available on Maven/Java vulnerabilities. These are data that this project is collecting and creating. So we cannot estimate how good VulnerableCode's data currently is in this regard.
And  the data from proprietary sources would be skewed as they tend to inflate the number of vulnerabilities.

Eventually through mappings, in

[2020-11-27 10:34] sbs2001 commented on #284
It makes sense to add a bulk request for packages.

@MarcelBochtler

re. coordinates vs purl string :
coordinates are useful in only the case where you don't have exact idea of what you are looking for. As you suggested, purl string is the way to go in this case.

I also have same concern as @sschuberth  has:

Here's what I propose:

1. Use request body as suggested

eg
[code]
2. The response shou

[2020-11-27 10:44] sbs2001 commented on #284
@MarcelBochtler  will a bulk request for vulnerabilities be useful for `ort` ?   Correct me if I am wrong, `ort` would be first collecting purls using the `Analyser` and then querying whether the collected purls are secure or not.  So the use case would be along the lines of "I have purl called foo, give me all it's vulnerabilities(if any)" not "I have vulnerability X, give me all packages which a

[2020-11-27 10:57] MarcelBochtler commented on #284
Correct.

But the severity of the CVE, the `cvss` is required e.g. to use the [ORT evaluator](https://github.com/oss-review-toolkit/ort#evaluator) for rule evaluation based on this severity.
This value is not contained in `Package` but only in `Vulnerability`

That's why a second request would be required to get more details of the found vulnerabilities.

[2020-11-27 11:47] MarcelBochtler commented on #284
[
"pkg:maven/org.hamcrest/hamcrest-core@1.3",
"pkg:pypi/jaraco.logging@1.5"
]

That would be fine for me. The wrapping is mainly done to support possible future extensions.

[2020-11-27 13:17] sbs2001 commented on #157
Here's the repaste of @pombredanne  's notes  of the chat we had recently about this issue

[code]

[2020-11-27 13:24] sbs2001 commented on #284
I see, so we can add bulk vulnerability request too.

FYI the `cvss` thing is oversimplified and I am working on it to capture more types of scores , see https://github.com/nexB/vulnerablecode/issues/157#issuecomment-734830969 .  There are cases where same vulnerability has been provided varying scores by different sources and we want to capture that.  On the API side of thing  changes will be don

[2020-11-28 10:13] tushar912 commented on #287
@sbs2001 Can I work on this?

[2020-11-28 12:27] sbs2001 commented on #287
@tushar912  sure . Let me know if you need any help :)

[2020-11-28 12:34] sbs2001 commented on #287
You would need to obtain all the versions of a specific package to resolve the version ranges from advisories.

The API at https://hex.pm/api/packages/{package_name}  provides this info

eg
https://hex.pm/api/packages/phoenix (look into `releases`)

[2020-11-28 19:02] tushar912 commented on #287
@sbs2001 Thanks

[2020-11-30 08:12] orsinium commented on #266
1. What version specification is it? PEP-440 uses `*` instead of `x`, AFAIK.
1. Is it allowed by the spec? Other formats, like NPM semver, don't have a mixture of range and x-range.
1. Feel free to open PR.

[2020-12-01 14:13] tushar912 commented on #287
@sbs2001 I had a doubt the packages contain <code>patched_versions</code> and <code>unaffected_versions</code> do they both need to be included in <code>safe_packages</code>

[2020-12-02 06:24] sbs2001 commented on #287
Could you point me to an example ?

For now they both belong to `safe_packages` .

[2020-12-02 12:08] tushar912 commented on #287
@sbs2001 Sorry I was referring to this
[code]
I think both patched and unaffected refer to <code>safe_packages</code>. Please correct me if I am wrong

[2020-12-02 13:22] sbs2001 commented on #287
Yes you are correct indeed .

[2020-12-02 13:23] pombredanne opened #293 "Revisit the storage of data source licenses"
See https://github.com/nexB/vulnerablecode/pull/290/files#diff-7f9f2c92e7163b06d21fa139369d75caed6561d0368b60ea2516cece0220eb5bR165
We need to make sure we have a better documentation for the licenses

[2020-12-02 14:40] sbs2001 commented on #293
Other than some way to forbid running importers with specified  licenses I don't know what's lacking.

You  referred to the importer model's license field, please be descriptive about what's wrong. AFAIK license key wouldn't exceed that limit.

[2020-12-02 18:33] pombredanne commented on #293
I think we want to be explicit about the license text, notice and copyright, and likely some URL. And explain that the license field is a license expression.
We need more details to provide hyperclarity there.

[2020-12-03 14:52] tushar912 commented on #287
@sbs2001 What should i write in <code>type</code> here <code>safe_purls ={ PackageURL(name=pkg_name,
                type=pkg_type,
                version=version)
                for version in safe_pkg_versions}</code>

[2020-12-04 04:14] sbs2001 commented on #287
Ah, I should I've told you this before,  from https://github.com/package-url/purl-spec I see the `type` would be `hex` .

[2020-12-08 02:10] farimani commented on #279
@sbs2001 @sschuberth @pombredanne: OSS index definitely has a lot more than GHSA. Take, for example, the following CVEs which don't exist in GHSA, but OSS index correctly associates with specific libraries:

CVE-2020-10687: io.undertow/undertow-core
CVE-2020-13932: org.apache.activemq/artemis-jms-client
CVE-2020-10727: org.apache.activemq/artemis-jms-client

Any idea how the associate with specifi

[2020-12-08 07:32] sschuberth commented on #279
Thanks a lot for this information @farimani. Now indeed my key question also is: How does OSS Index manage to map these CVEs to Maven packages, as from a quick glance nothing in the CVEs looks like (complete) Maven coordinates. Generally, maybe looking at the source code of [DependencyCheck](https://github.com/jeremylong/DependencyCheck) or [Dependency Track](https://github.com/DependencyTrack/dep

[2020-12-08 07:52] stevespringett commented on #279
There are three primary means of identifying software, purl, CPE, and SWID. The NVD supports CPE with the intent of also supporting SWID. Other sources support other identifiers. OSS Index is not limited to Maven, ecosystem support is quite broad. OSS Index also has vulnerabilities that are not in the NVD. It’s also not the only source to support purl. There are others, but I’m not aware of any ot

[2020-12-08 15:14] farimani commented on #279
@sschuberth dependency check also uses OSS index for these cases. The CPE based lookup does not yield a match.

[2020-12-09 04:33] sbs2001 commented on #279
@farimani  I can find all the mentioned CVE's at https://access.redhat.com/hydra/rest/securitydata/cve/<cve_id> end point. Eg
 https://access.redhat.com/hydra/rest/securitydata/cve/CVE-2020-13932  .

Activemq has advisories at https://activemq.apache.org/security-advisories.data/CVE-2020-13932-announcement.txt .

I don't think they do `CPE`->`PURL` mappings. They might be parsing and infering data

[2020-12-09 18:05] farimani commented on #279
@sbs2001 thanks for the links and the purl2cpe is awesome. I'll look at it in more detail.

Regarding the CVE's and advisories, note that ActiveMQ Artemis has some 20+ jar files providing different functionalities. CVE-2020-13932/10727 specifically impact the client libraries (artemis-jms-client*.jar) and not the other ones.

There is no information in the CPEs or the advisories that points specif

[2020-12-09 18:13] stevespringett commented on #279
There’s a lot of projects like that. Spring Framework is a really good example as there’s a lot of optional jars that can be used (Spring MVC, Spring Security, etc) where the CPE doesn’t mention them but the CVE description does. OSS Index handles this but there’s likely some ML in the background helping to associate CVEs to specific jars, then based on the jars, constructing the purl mapping. Oth

[2020-12-09 18:25] farimani commented on #279
@stevespringett I doubt that there's any ML here. More likely it's because Sonatype, by the virtue of providing a great service to java developers and hosting Central, maven, etc. are in a position to have more detailed info about the vulnerability submission/fix process. I could be wrong, but one can check to see if OSS index has more detailed data for other ecosystems, for example, .NET. If so,

[2020-12-11 09:29] sbs2001 commented on #286
I almost forgot about this, creating a ticket and solving it now.

[2020-12-11 09:30] sbs2001 commented on #286
Instead of putting it in README I was thinking to have a separate document of sources which documents this and then link it back to README ?

[2020-12-11 09:33] sbs2001 opened #296 "Document used data sources"
This was suggestion from @sschuberth  https://github.com/nexB/vulnerablecode/issues/286#issuecomment-734134753 .

This could be solved via

1. Create a separate `SOURCES.rst` document  which documents info about all data sources.
2.  Link it to README

[2020-12-11 09:37] sschuberth commented on #286
Also fine with me 😀

[2020-12-11 11:57] pombredanne opened #297 "Scrape Github security advisories using HTML scrping"
The GitHub advisories are somewhat weird:
1. the graphql API data require auth and are incomplete (they do not contain external references)
2. the HTML data at https://github.com/advisories contains more data, BUT this is limited to 40 pages of 25 advisories, meaning only 1000 can be scraped from the browse page when there are about 3019 advisories.  The reference are there including quite often t

[2020-12-17 06:26] sbs2001 commented on #280
Closed via https://github.com/nexB/vulnerablecode/pull/281

[2020-12-17 06:26] #280 closed

[2020-12-17 11:01] sbs2001 opened #299 "Add test coverage on nginx and postgres importers"
Tests for nginx and postgres importers are missing. Having test coverage is important to know whether our changes are breaking something

[2020-12-17 11:45] sbs2001 commented on #296
Fixed via https://github.com/nexB/vulnerablecode/pull/298

[2020-12-17 11:45] #296 closed

[2020-12-18 05:49] #165 closed

[2020-12-18 05:53] sbs2001 opened #300 "Deal with temporary vulnerabilities"
Some data sources provide  vulnerabilities with temp ids, probably because they don't yet have CVE  or are not confirmed .

These data sources are rustsecdb, debian :

The related code is at https://github.com/nexB/vulnerablecode/blob/7a60e62eb1a04215329973ef319a476112205e0a/vulnerabilities/importers/rust.py#L72

and

https://github.com/nexB/vulnerablecode/blob/7a60e62eb1a04215329973ef319a47611220

[2020-12-18 05:53] sbs2001 commented on #165
Closed in favour of https://github.com/nexB/vulnerablecode/issues/300

[2020-12-18 11:37] #299 closed

[2020-12-19 05:04] sbs2001 commented on #300
https://github.com/nexB/vulnerablecode/pull/285#discussion_r543705771

[2020-12-19 05:19] sbs2001 commented on #284
I will start working on this after getting https://github.com/nexB/vulnerablecode/pull/290 and https://github.com/nexB/vulnerablecode/pull/259 are merged, since those bring some schema changes .

[2020-12-20 05:26] sbs2001 opened #302 "Collect Istio"
See https://istio.io/latest/news/security/

[2020-12-21 17:23] sbs2001 commented on #284
@MarcelBochtler  @pombredanne  @sschuberth  btw we didn't discuss what the endpoint should be called ?

The `/api/vulnerabilites`   `/api/packages`  endpoints are already used for general list view of data.

[2020-12-22 20:04] sschuberth commented on #284
Sorry, I don't have a qualified opinion here. Those taken endpoint would have been my preferences, I guess.

[2020-12-23 15:20] tushar912 commented on #302
@sbs2001 can I work on this

[2020-12-25 06:37] sbs2001 commented on #302
@tushar912  that would be great :)

[2020-12-29 04:41] #287 closed

[2020-12-30 09:02] sbs2001 opened #304 "Ignore closed source vulnerabilities"
More != Better

We don't care about vulnerabilities in windows.

https://git.launchpad.net/ubuntu-cve-tracker/tree/ignored/not-for-us.txt is a good start .

[2021-01-07 12:06] MarcelBochtler commented on #284
These endpoints only provide GET endpoints and this bulk request requires a body, as URL size restrictions do not allow to filter for every ID as a request parameter.
So these endpoints could still be used for a POST request.

However, IMO POST requests for  `/api/vulnerabilites` and `/api/packages` should be used for a possible functionality to create vulnerabilities and packages.
I think the bes

[2021-01-08 14:46] sify21 opened #307 "upgrade lxml==4.6.1"
On fedora33 + python 3.9.1, `pip install -r requirements.txt` fails
<details>
<pre>
src/lxml/etree.c: In function ‘__Pyx_modinit_type_init_code’:
    src/lxml/etree.c:231155:32: error: ‘PyTypeObject’ {aka ‘struct _typeobject’} has no member named ‘tp_print’
    231155 |   __pyx_type_4lxml_5etree_Error.tp_print = 0;
           |                                ^
    src/lxml/etree.c:231163:36: error

[2021-01-08 14:47] #307 closed

[2021-01-10 13:34] sbs2001 commented on #233
@pombredanne  Django has good changelogs for eg https://github.com/django/django/blob/5fcfe5361e5b8c9738b1ee4c1e9a6f293a7dda40/docs/releases/1.8.18.txt#L9 . That would be probably easier to start with.

Having said that I'm pretty sure GHSAs cover that. Is there any value in collecting django changelogs ?

[2021-01-13 10:18] sschuberth commented on #284
@sbs2001 what do you think about @MarcelBochtler's proposal?

[2021-01-13 12:51] sbs2001 commented on #284
@sschuberth  ack  @MarcelBochtler  sorry for the delay

I think combining the both suggestions, makes the endpoint more obvious `POST /api/vulnerabilities/bulk-search` .

[2021-01-14 15:36] sschuberth commented on #284
Sounds good @sbs2001. May I ask whether you'd have some time to work on this soon? If not, we might be able to contribute, but that unfortunately requires to go through some approval process first on our side.

[2021-01-14 17:06] sbs2001 commented on #284
@sschuberth  I'll finish the implementation on this weekend.

[2021-01-14 18:32] sschuberth commented on #284
That's fantastic news, thanks a lot in advance!

[2021-01-17 12:15] sbs2001 commented on #284
@sschuberth  It's done now :) Please refer to https://github.com/nexB/vulnerablecode/pull/303#issuecomment-761801619 and https://github.com/nexB/vulnerablecode/pull/303#issuecomment-761801639  for now.  The swagger docs   don't play nice with ad hoc api's like.

[2021-01-17 12:18] sbs2001 commented on #307
@sify21  did you fix this ?

[2021-01-17 12:39] sbs2001 commented on #284
This got auto closed due the PR

[2021-01-17 13:18] sschuberth commented on #284
That's fine! When the feature is done it's done 😉

[2021-01-18 01:52] sify21 commented on #307
yeah, my local repo wasn't updated

[2021-01-18 03:00] sify21 opened #311 "make "qualifiers" not null in "vulnerabilities_package""
Currently `vulnerabilities_package`  is defined as

[code]
`qualifiers` can be null, so the unique constraint `vulnerabilities_package_name_namespace_type_vers_4f1568e6_uniq` doesn't stop from inserting multiple rows with `qualifiers` being null and the other columns being identical, which allows duplicate packages in this table. See [PostgreSQL multi-column unique constraint and NULL values](http

[2021-01-19 12:18] sbs2001 commented on #311
@sify21  at the application level we have default value of `{}` for the qualfiers. See https://github.com/nexB/vulnerablecode/blob/7c60c0256c5f29abf8d0b09a40a3c3e697b0455a/vulnerabilities/models.py#L112

Eg.
[code]

So this is unlikely to be a problem.

FWIW we also have additional safety guards at https://github.com/nexB/vulnerablecode/blob/7c60c0256c5f29abf8d0b09a40a3c3e697b0455a/vulnerabilities

[2021-01-20 02:05] sify21 commented on #311
Oh thanks for the info, I didn't check out the code

[2021-01-20 02:06] sify21 commented on #311
wait, then why not make this field not null?

[2021-01-20 07:31] uboznikov opened #312 "Run error after pull latest, "ModuleNotFoundError: No module named 'drf_spectacular'"."
Hello,

I pulled latest and ran with Docker Compose, getting the error below:

![image](https://user-images.githubusercontent.com/16329085/105141537-43de4800-5b34-11eb-8b00-0ff9c92c9328.png)

[2021-01-21 15:00] oheger-bosch commented on #284
Hi, we have just started with the integration of VulnerableCode into ORT. The API for the bulk requests seems to work well, and we should be able to get the information we need. Many thanks for making this available that fast!

There is one issue we noticed, however: In the response of bulk request for vulnerabilities, the _cvss_ field does not seem to be contained. It is also not listed in the [e

[2021-01-21 16:19] sbs2001 commented on #312
@uboznikov  I just did a fresh docker-compose setup to reproduce the error, but didn't  encounter anything.

Recently the project switched from `drf-yasg` to `drf-spectacular` for api doc generation. So a stale docker image might be the issue here ?

Could you try deleting the docker image and retry fresh ?

[2021-01-21 16:20] sbs2001 commented on #284
@oheger-bosch  re

We realized the current data model's approach of having a single cvss is too simple to capture severity data and I have https://github.com/nexB/vulnerablecode/pull/290 which is almost  ready to be merged. I will post the new API response ASAP.

Having said that I am really interested on how ort would interpret the severities. The thing is, for a vulnerablity each data source pot

[2021-01-21 16:43] sbs2001 commented on #311
@sify21, right , it makes sense to add the contraint at the db level. I just patched the thing via https://github.com/nexB/vulnerablecode/pull/313 . That should fix the thing

[2021-01-21 16:43] #311 closed

[2021-01-22 02:38] uboznikov commented on #312
@sbs2001 That solves it, thanks.

Perhaps this could be added in the doc?

[2021-01-23 05:42] sbs2001 commented on #312
This is kind of rare case where the image was built, and then upstream had dependency changes. A small note about this makes sense :)

[2021-01-23 11:53] sbs2001 commented on #302
@tushar912  any issues ?

I found the same thing at https://github.com/istio/istio.io/tree/master/content/en/news/security , which we should parse instead of the link I gave earlier. Since repo contains the required data in machine readable format.

[2021-01-23 12:09] tushar912 commented on #302
@sbs2001 Sorry I got busy with some other work so I could not make much progress. I will resume work on it. Thanks for the repo link.

[2021-01-24 09:42] sschuberth commented on #284
I admit I haven't given this much though yet as ORT's Advisor concept was more tailored towards using a single source as a provider, not an aggregator like VulnerableCode. One a naive approach of course would be to just average / weight the scores or ratings of the underlying providers.

Or for a different idea, while we still only query VulnerableCode, on the ORT side we could create "virtual" Ad

[2021-01-24 12:32] sbs2001 commented on #284
@sschuberth  re:

Yes, the response will also contain where the particular severity score came from, so heuristics could be used to configure the weightage given to each score. For eg, A score provided by redhat, would be given more importance when the found vulnerability is affecting a redhat `rpm` package.

[2021-01-24 12:41] sbs2001 commented on #266
@orsinium  Sorry for the late response,

About

Does that mean `<0:8.0.x`  is equivalent to  `<0:8.0.*` ?

If yes, then as a quick workaround I was thinking  to replace the `x` with `*` before creating a `RangeSpecifier` object .

[2021-01-24 12:50] sbs2001 opened #314 "Collect apache project's machine readable advisories."
In any case we want to  avoid parsing human readable advisories, so  to break https://github.com/nexB/vulnerablecode/issues/100 in smaller manageable parts , we should always parse machine readable advisories if possible.

Apache projects maintain machine readable security advisories at a project level. See for example

https://github.com/apache/syncope/blob/fa82b8266c0c664c49d010d397a9ffb3f6ab455

[2021-01-25 12:15] tushar912 commented on #302
I think https://github.com/istio/istio.io/tree/master/content/en/news/releases can be used for finding all releases.

[2021-01-25 14:13] sbs2001 commented on #302
@tushar912  IMHO using https://github.com/nexB/vulnerablecode/blob/3b903ae24f812a6ad32f4422ae06385330c2367f/vulnerabilities/package_managers.py#L333 to query the releases of https://github.com/istio/istio would be simpler

[2021-01-25 16:04] tushar912 commented on #302
Oh forgot about it . Agree, that's better.

[2021-01-27 11:19] pombredanne opened #315 "Enable basic Django admin features"
we should be able to do minimal searching and filtering there

[2021-01-27 12:37] tushar912 commented on #302
@sbs2001 for resolving ranges in this (like 1.1 to 1.6) I don't think <code>dephell_specifier</code> can be used directly .So I was thinking of converting the range to something like <code>>=1.1 &&<=1.6</code> and then using <code>dephell_specifier</code> on it. Is this approach correct or should I try something else.

[2021-01-27 13:47] sbs2001 commented on #302
@tushar912  converting to  `>=1.1 &&<=1.6` is absolutely correct !

[2021-01-27 13:51] pombredanne opened #317 "Add Android bulletins"
See https://source.android.com/security/bulletin/android-10 for example.

[2021-01-27 13:56] pombredanne commented on #304
@sbs2001 agreed at some level, but we want to be careful as proprietary software vulnerabilities may be at times about some FOSS packages that's bundled, so discarding it upfront may not be a good thing at all times.
https://nvd.nist.gov/vuln/detail/CVE-2020-0236 for instance may not be for Ubuntu ... Yet it may be for us? TBD

[2021-01-27 13:57] pombredanne commented on #317
They also come with their own scoring system

[2021-01-27 14:33] pombredanne opened #318 "manage.py import should provide some kind of progress feedback"
Right now we do not know what happens and what was done.
Design TBD

[2021-01-28 15:45] pombredanne opened #320 "Make UI work"
I cannot seem to be able to find anything except exact CVE ids using the web UI.
In particular, I cannot find packages. In contrast thing work find in the API.
I think we should either disable the UI entirely or make it work ASAP

[2021-01-29 04:38] sbs2001 commented on #320
@pombredanne  re

The package name lookup is exact,  that's causing this issue. Do we need to be able to lookup packages via their partial names ? In any case that would be  a quick fix.

partial CVE id lookup works too,

Eg,
![Screenshot 2021-01-29 10:04:08](https://user-images.githubusercontent.com/28975399/106232255-8df0b900-6219-11eb-86bc-1488fb5d56ef.png)

Or
![image](https://user-images.gith

[2021-01-29 09:54] pombredanne commented on #320
ok, so I was doing some import and may be there were not finished.
I found the UI where I cannot enter values for each Package URL field not intuitive
And the packages were found alright after all... BUT they are not visible until you scroll down, because there is a a big empty vertical space  and I did not see any results upfront.
We need to work to make this more intuitive and simple.
IMHO only

[2021-01-29 09:54] pombredanne commented on #320
That works correctly, that's a mistake of mine.

[2021-01-29 10:03] pombredanne commented on #320
I think we need to design this more. I do not like the 0 and 1 counts in the list ... rather than counts we should have links and real values displayed. Also there is a problem where in this case:
1. the versions are not sorted
2. pkg:pypi/lxml@4.2.1 is vulnerable to CVE-2020-27783 alright BUT it is patched by pkg:pypi/lxml@4.6.2  and this does still show up as a count of 0

![Screenshot from 2021

[2021-01-29 13:34] pombredanne opened #321 "Disable Etag"
The current Etag handling IMHO are more problematic than helpful at this stage, especially when there is a failure during import. See https://github.com/nexB/vulnerablecode/commit/255b7f9be723ec32273d772d073ce6f80cbdf016#diff-938a299f8406c1d3defaec48838bc4f6f1307635f5d2ba36e9777227cedbb383R46

1. We are not using Etag correctly: Etags are designed to be passed back in HTTP headers. We should inste

[2021-01-29 14:13] sbs2001 commented on #321
@pombredanne

Thanks for (1) ! The current implementation is so crude.

All other points make 100% sense to me, except (6) . Since only way to know whether the data is new, is to check it against what we in the db one to one. We can't just skip a file. Hence metadata like etag is used.  Any other way to do this ?

[2021-01-29 18:12] pombredanne opened #323 "Package API filters field order is not correct and set is incomplete"
Either we expose all the Package URL fields and in the correct order, and/or we expose a Package URL string field. For now we have neither and this is confusing .
In http://localhost:8000/api/packages/ I click on Filters:

![package-field-filters-Screenshot from 2021-01-29 19-06-40](https://user-images.githubusercontent.com/675997/106311418-67f10600-6265-11eb-9cbd-e9764890b00c.png)

I would expect

[2021-01-29 19:02] pombredanne opened #324 "web UI: The package name should not be mandatory"
It should be possible to "browse" for a type+namespace  for instance, and this is not possible for now

[2021-01-29 19:06] pombredanne opened #325 "web UI: number of packages or items found is not correct or misleading"
`Total Results 50` is what is displayed each time a Package search returns more than 50 results. That's the number of the page and not the total number I would expect to be returned.

[2021-01-29 19:16] pombredanne opened #326 "Incorrect or misleading data"
Package can have non-linear version histories wrt. vulnerabilities

For instance:

Here the set of Patched and Vulnerable does not seem correct at all:
[CVE-2014-1904.pdf](https://github.com/nexB/vulnerablecode/files/5895813/CVE-2014-1904.pdf)

Several problems to consider:
1. I cannot easily debug this issues because of the lack of logging and history trail. I would need to be able to trace for e

[2021-01-29 19:27] pombredanne opened #327 "Infer Package URL from references and other references issues for "commitish" URLs"
In some case it may be possible to infer new package URLs from collected references. In this
[CVE-2014-1904.pdf](https://github.com/nexB/dejacode/files/5895830/CVE-2014-1904.pdf)
we have these:

- https://github.com/spring-projects/spring-framework/commit/741b4b229ae032bd17175b46f98673ce0bd2d485
- https://github.com/spring-projects/spring-framework/commit/75e08695a04980dbceae6789364717e9d8764d58
-

[2021-01-30 07:05] tushar912 opened #328 "Searching for vulnerability id which is not present does not show any message"
Currently if we search for a vulnerability id which is not present the search page reloads without change. It would be better to have a message like "no result found" .

[2021-01-30 07:05] tushar912 commented on #328
I am working on this

[2021-01-30 09:55] sbs2001 commented on #323
@pombredanne  IMHO we should disable the drf interface, since we already  have swagger

[2021-01-30 10:00] #325 closed

[2021-01-30 10:08] sbs2001 commented on #327
@pombredanne  this makes sense, but I'm not sure how to infer relationship between  the inferred commitish package and the vulnerability. For eg, there could be multiple commits which  fix the vulnerability incrementally, so  we can't be sure whether a particlular commit fully fixed a vulnerability .

[2021-01-30 10:19] sbs2001 commented on #320
@pombredanne re:

That's a can of worms, we don't have a version  range comparator. Add to  that there's multi ecosystem packages. We could have sorted groups of packages. Each group would consist of packages of same ecoystem, and be sorted according to  version.

[2021-01-30 10:25] sbs2001 commented on #320
@pombredanne  re

The `Patched Vulnerabilities` is the count of the vulnerabilities to which  the package is patched. `pkg:pypi/lxml@4.2.1` is NOT patched to CVE-2020-27783, hence it is showing a count of 0.

On  the other hand if you see the entry for ` pkg:pypi/lxml@4.6.2`, it would have patched vulnerabilities = 1 .

Is this confusing ?

[2021-01-30 10:30] sbs2001 commented on #324
I don't know how this and https://github.com/nexB/vulnerablecode/issues/320#issuecomment-769702534 would make sense together, without using partial purls .

[2021-01-31 06:36] sbs2001 commented on #321
Maybe adding a flag, to skip interpretting etag would help ?

[2021-01-31 09:26] sbs2001 commented on #320
@pombredanne  re package search

I was thinking of better design, for it. I think having a single search  bar, where the package name could be entered and having checkbox filters to filter by type, namespace will do the trick.

The django admin view for the package search  at https://github.com/nexB/vulnerablecode/pull/330 looks pretty close to what I  am suggesting
![image](https://user-images.gi

[2021-02-01 11:17] sbs2001 commented on #317
What would be the purls for these ?

[2021-02-01 11:33] sbs2001 commented on #297
Btw, I just found out that the graphql api also provides the references and those matchup wiht the data at web ui .

[2021-02-01 16:54] pombredanne commented on #297
Much better then!

[2021-02-02 11:55] pombredanne opened #332 "Store and archive ALL the data we fetch forever"
This cache of the source data we use is an important piece of proper traceability.

[2021-02-03 02:20] westonsteimel opened #333 "Alpine data source update"
It appears that the repository at https://gitlab.alpinelinux.org/alpine/infra/alpine-secdb has been deprecated and should be replaced with https://secdb.alpinelinux.org/

[2021-02-03 07:42] sbs2001 opened #334 "Use immutable dataclasses"

[2021-02-03 11:36] tushar912 commented on #302
@sbs2001 what should be the package type here

[2021-02-03 12:06] sbs2001 commented on #302
I think it should be either  `helm`  or `generic`. @pombredanne  ^ what do you think ?

[2021-02-03 14:15] pombredanne commented on #302
I could not not find an official helm chart for it and we can be better than generic.
Instead what about using these two types since the only thing we know for sure is this is a GitHub and a Go package:
- `pkg:github/istio/istio@1.5.8` based on https://github.com/istio/istio
- `pkg:golang/istio.io/istio@1.8.0` based on https://pkg.go.dev/istio.io/istio

[2021-02-05 06:36] sbs2001 commented on #333
@westonsteimel  thanks for pointing this out ! We will soon use the mentioned source

[2021-02-05 08:09] #315 closed

[2021-02-05 09:57] tushar912 commented on #302
@pombredanne which one should I use golang or github

[2021-02-05 11:15] tushar912 commented on #302
@sbs2001 @pombredanne I have made a PR( https://github.com/nexB/vulnerablecode/pull/336) for this. Added WIP just because I need to confirm the package type. Then I would add it to <code>SOURCES.rst</code>.

[2021-02-07 05:41] #328 closed

[2021-02-07 05:57] sbs2001 opened #338 "Fix batched_advisories method"
The current implementation of the `batched_advisories` at https://github.com/nexB/vulnerablecode/blob/6609bcfdebb4c28bd30dfd9d42011323d238ee4c/vulnerabilities/data_source.py#L195 needs to be simplified

1. Don't use sets, the hash method for the advisory dataclass is broken.
2. Simplify the logic.

Eventually we want to move to non-batch proccessing so this low priority

[2021-02-07 09:33] sbs2001 commented on #253
The temp domain for now would be  https://vulnerablecode.aboutcode.org

[2021-02-07 10:12] #333 closed

[2021-02-08 09:42] sbs2001 commented on #332
I'm guessing we are to store this in filesystem

In that case I can think of having a structure like  `data_archive/<importer_name>/<TIMESTAMP>/Data`

[2021-02-08 11:16] pombredanne opened #340 "Missing details on NVD vulnerability"
https://nvd.nist.gov/vuln/detail/CVE-2020-7965 is imported and has CPE but we do not relate that to any package and therefor it misses that pkg:pypi/webargs@5.5.2  is vulnerable.

[2021-02-08 11:17] pombredanne commented on #340
See also for related details https://github.com/CycloneDX/cyclonedx-python/pull/157

[2021-02-08 12:43] sbs2001 commented on #340
The only source for python vulnerabilities is github, and they don't have this vulnerability.

Inferring the purl solely from  cpe is dangerous. But it did point us to the changelog.

This is good example of why need to parse changelogs.

[2021-02-08 19:05] pombredanne commented on #340
https://github.com/pyupio/changelogs may help as discussed in the past and this
https://github.com/pyupio/safety-db/blob/master/data/insecure_full.json#L20724
was likely derived from this changelog
https://github.com/marshmallow-code/webargs/blob/dev/CHANGELOG.rst#553-2020-01-28
Yet! I wonder if we should instead focus on curation by hand rather automation in these cases?

And what if we start our

[2021-02-08 20:40] pombredanne opened #341 "Collect data from https://github.com/google/osv"
This is just fresh off the press https://github.com/google/osv by @oliverchang and @inferno-chromium
(I assume this is a different efforts than @evonide 's )
This will make at least the inclusion of oss-fuzz much easier for #117

[2021-02-09 13:32] pombredanne commented on #78
See also https://github.com/mozilla/foundation-security-advisories

[2021-02-09 14:13] #157 closed

[2021-02-10 13:53] sbs2001 opened #343 "Deal with duplicate reference urls"
![image](https://user-images.githubusercontent.com/28975399/107518768-66b0c900-6bd5-11eb-8ca3-df640266a824.png)

[2021-02-10 13:55] sbs2001 commented on #343
Explore storing canonical form of urls

[2021-02-10 14:08] sbs2001 opened #344 "FIx UI problems"
Changes:-
- [x] 1. Make Packages -> Package . The columns should have singular name.
- [x] 2. Eliminate whitespace from search result view.
- [x] 3. Don't forget what user searched for.
- [x] 4. Correct sequencing in package search view. expectec -> Vulnerabilities| Patched Vulnerabilities
- [x] 5.  Unrelated to UI : Forget fixes, remember vulnerable packages only, while keeping track of first fix

[2021-02-10 14:27] pombredanne opened #345 "Specify a simple and common MOdern VUlnerability Report"
It would be useful to spec a simple, YAML-based, Package URL-focused  modern format to report vulnerabilities that projects could reuse rather than to reinvent their own.

[2021-02-10 14:29] pombredanne opened #346 "Blackify the whole codebase"
And also add checks in the CI to alter of black issues

[2021-02-11 10:57] sschuberth commented on #284
@sbs2001 we just found that the new bulk API requires trailing slashes in the endpoints or else fails with HTTP code 500. I'd consider this to be a bug, would you agree?

[2021-02-11 15:45] sbs2001 commented on #284
@sschuberth  That is a bug  indeed. Will fix it, once we complete few pending model changes.

[2021-02-11 15:56] sschuberth commented on #284
Great, thanks for confirming!

[2021-02-11 18:07] pombredanne commented on #232
so we are going for now with a locally unique id that is based  on `VULCOID-YYYY-MM-DDHHMMSS` which limits the ocal creation of these ids to one per second for now.... but these are meant to be transient ids that should be eventually replaced by a CVE

[2021-02-12 08:19] pombredanne commented on #346
And drop using pycodestyle as the two may not be in sync and therefore may conflict

[2021-02-12 13:10] sbs2001 opened #348 "Update deps and their structure"
We are using pretty outdated deps. These should be upgraded, after all we don't want to be "vulnerable" .

Unrelated: have requirement file separate dev dependencies.

[2021-02-12 13:31] sbs2001 commented on #348
@rolfschr  heads up ! Btw the nix tests are failing at https://github.com/nexB/vulnerablecode/pull/347 due to update in  deps

[2021-02-13 04:43] #324 closed

[2021-02-14 05:27] sbs2001 opened #349 "Send severity data on api response"
Due to  recent model changes, the api doesn't give info about severities. This is required for https://github.com/nexB/vulnerablecode/issues/284 .

[2021-02-14 07:18] sbs2001 commented on #284
@sschuberth  FYI the trailing slash thing is fixed via https://github.com/nexB/vulnerablecode/pull/350 .

[2021-02-14 07:41] sbs2001 opened #351 "Change API to adapt to new models."
The PRs
https://github.com/nexB/vulnerablecode/pull/259
https://github.com/nexB/vulnerablecode/pull/290

have changed the data models. We need the api to leverage the richer models.

Specifically we need to :
https://github.com/nexB/vulnerablecode/issues/349 for displaying diverse severity scores.
Minor changes in field names as we want to move away from being "cve centric".

[2021-02-17 01:10] uboznikov opened #356 "Proper db migration process"
After pulling latest and running the data import, encountered several missing db artifacts.

[code]

On start the db initialization is run only if the db does not exist.

`PostgreSQL Database directory appears to contain a database; Skipping initialization`

But should also account for updates on an existing db, similar to [Liquibase](https://www.liquibase.org/) or [Flyway](https://flywaydb.org/)

[2021-02-17 05:43] sbs2001 commented on #356
Could you try deleting the images and pulling again ? The problem is caused because the migrations have not been ran since a schema change

[2021-02-17 07:28] uboznikov commented on #356
Ok that solves it.

Would it be possible if this can be done without deleting then re-creating the images?

[2021-02-17 07:35] uboznikov opened #357 "Slow migration process, very busy disk activity"
I deleted then re-created images after pulling latest.

Then re-run data migration, it is very slow and hogs disk activity, and it's only the first source (NVD) . Also slows down the other apps.

![image](https://user-images.githubusercontent.com/16329085/108170669-66fd1700-7135-11eb-9449-5f9258ea8634.png)

I recall that this was not the case before.

[2021-02-17 12:08] sbs2001 commented on #356
yes
you could do the following in the project dir
[code]

[2021-02-17 12:09] sbs2001 commented on #356
yes
you could do the following in the project dir
[code]

[2021-02-17 14:42] chess-equality commented on #356
Thanks.

But previously I also deleted then re-created images, could this be avoided at all?

https://github.com/nexB/vulnerablecode/issues/312

[2021-02-17 14:48] chess-equality commented on #357
After about 5 hours it hasn't gone past importing the first item which is NVD. Disk still very busy. I killed it then got this:

![image](https://user-images.githubusercontent.com/29477940/108220767-0dffa400-7172-11eb-92de-381142d9a3cd.png)

Is this a bug?

[2021-02-17 14:51] uboznikov commented on #357
About 5 hours it hasn't gone past the first item which is NVD. Disk still very busy. I killed it then got this:

![image](https://user-images.githubusercontent.com/16329085/108221267-8ebea000-7172-11eb-91f2-7191414cbe90.png)

Is this a bug?

[2021-02-18 05:01] sbs2001 commented on #357
@uboznikov could you try running only a single small importer like `openssl`, via
[code]

Just to confirm whether the  problem is with nvd importer.

[2021-02-18 07:27] uboznikov commented on #357
@sbs2001 It's ok with OpenSSL, disk write throughput is very high while IO is very low, unlike with NVD.

![image](https://user-images.githubusercontent.com/16329085/108320122-5617d880-71fd-11eb-9d22-0b2aef2eb6ec.png)

![image](https://user-images.githubusercontent.com/16329085/108320282-8d868500-71fd-11eb-83ed-1a388c5ba85a.png)

[2021-02-18 08:07] uboznikov commented on #357
I also tried importing GitHub only, got the following error:

[code]

[2021-02-18 08:25] pombredanne commented on #312
There must be a better way than deleting the image

[2021-02-18 09:25] sbs2001 commented on #312
@pombredanne  a better way would be to do
[code]

[2021-02-18 09:38] sbs2001 commented on #356
@chess-equality  yes, these both issues are caused  because the docker images and the code are out of sync.

When you pull latest, your code is latest. But the deps and schema remain same as that of intial image creation.

[2021-02-18 13:07] sbs2001 commented on #357
@uboznikov  thanks for pointing the github bug, I've pushed a fix.

As for the nvd, it's not a bug. That data source has huge data, so it makes tons of db queries, hence the disk activity. Recently we started collecting severity scores, that's probably increasing it further.

[2021-02-18 15:58] pombredanne opened #359 "UI search should be case insensitive"
All search and lookup would IMHO benefit to be case-insensitive. Searching FreeImage as package name yield nothing but freeimage did.

[2021-02-19 03:02] uboznikov commented on #357
@sbs2001 Thanks for the quick fix, it's ok now.

I have put the import on a faster disk (RAID 0 Velociraptors), then restored the updated db in my laptop. It still took about 3+ hours on the faster disk. They're both on Ubuntu (LinuxLite 4.5 and Ubuntu 18.04, respectively).

I hope the NVD data import can be improved.

The other data import sources I have used doesn't suffer though from the disk h

[2021-02-19 03:02] #357 closed

[2021-02-19 05:17] sbs2001 commented on #284
@pombredanne and I had a discussion about the this API few days ago, some changes he suggested, to avoid using purls and cve_ids as keys in the response.Instead be explicit by doing something like

[code]
That's one change.

Other change is related to scores as we also merged the new data models for storing severity. They now can store multiple scores from different sources with different scales f

[2021-02-19 06:47] sschuberth commented on #284
Could you elaborate why that's a desirable goal?

In the end, our main use-case list to list CVEs per package to easily identify "problematic" packages that you might want to get rid of. With that in mind, it would make more sense to me to still have the PURL as the key for quick lookup of CVEs per package.

Of course, I can also see the use-case of a new CVE popping up, and you quickly want to ge

[2021-02-19 09:18] sbs2001 commented on #359
I've opened https://github.com/nexB/vulnerablecode/pull/360 that fixes this, please review

[2021-02-22 11:47] pombredanne commented on #207
Here is the design I suggest:
1. issues and PR should be treated as vulnerability references. They may lead to a commit but the way to get there is not structured or explicit, but they are still references for our purposes and stored in there https://github.com/nexB/vulnerablecode/blob/4933778e4de76f7ea1ffb3fa87c84bd81ee82af8/vulnerabilities/models.py#L64
2. the commit(s) that fix a vulnerability

[2021-02-22 12:42] pombredanne commented on #284
@sschuberth you wrote in https://github.com/nexB/vulnerablecode/issues/284#issuecomment-781869360

That's a base design principle we use for all "ABC data" https://github.com/nexB/aboutcode/blob/master/docs/source/aboutcode-data/abcd.rst
Specifically, there should be no value used as a key, rather there each value should be in a field that has a name.
This makes the API results a bit more verbose

[2021-02-22 13:30] pombredanne commented on #284
@sschuberth re:

If I get your use case, you are 1. crafting a list of Package URLs 2. sending that list over to the API
Once you receive the results I can see two cases:
1. at this stage in your code you "forgot"  what is the list sent above was and you need to iterate the received list
2. you did not forget and you iterate over your original list and lookup in the results if you have a match, wh

[2021-02-22 13:32] pombredanne commented on #284
@sschuberth re:

I agree that the bulk CVE search would not be of much used for now: In general I know which packages I use, not which vulnerability I use (not yet)!

[2021-02-22 14:01] sschuberth commented on #284
Yes, that is our use-case.

Well, that way you force *each* client to create that mapping, instead of you creating it *once* for all clients.

But anyway, these are just my immediate thoughts. You probably have more experience in crafting REST APIs than I have. And I can understand that you want to maintain consistence with "ABC data". Finally, we can cope with either implementation.

[2021-02-22 16:22] pombredanne commented on #284
@sschuberth If this works for you I would rather keep the API principles consistent. (FWIW, this is for instance the same approach found in the GitHub API... though I am not sure that they have any bulk query capability outside of graphql..). I am sure that there are other well traveled APIs that uses values as keys but consistency matters most here IMHO.

[2021-02-22 16:33] sschuberth commented on #284
👍🏻 if this helps to resolve this issue more quickly 😉 We're eager to finish our VulnerableCode integration in this regard.

[2021-02-23 06:26] oheger-bosch commented on #284
Just one remark here: It is correct that in a first step we send a bulk request for packages to receive all the vulnerabilities known for these packages. In a second step, we need to obtain the details about the vulnerabilities identified in the first step (as the response we got does not contain such information, e.g. the severity). For this purpose, we would need the bulk API for vulnerabilities

[2021-02-23 12:06] sbs2001 opened #361 "Handle summaries of vulnerabilities obtained from different sources"
https://github.com/nexB/vulnerablecode/blob/4933778e4de76f7ea1ffb3fa87c84bd81ee82af8/vulnerabilities/import_runner.py#L236

Currently the order of importers dictate what the summary for a vulnerability should be.  This should be fixed by keeping logs, and having a canonical summary.

[2021-02-23 12:43] #232 closed

[2021-02-23 12:48] sbs2001 commented on #206
Fixed finally via https://github.com/nexB/vulnerablecode/pull/259

[2021-02-23 12:48] #206 closed

[2021-02-23 14:30] #359 closed

[2021-02-23 18:54] pombredanne commented on #284
@oheger-bosch excellent point. For this I am in favor of embedding everything. e.g. the bulk call should return the same data that for a single package request.

[2021-02-23 20:38] DjDeepDive commented on #356
I would also suggest that proper migrations be included in the repo, if possible.  I realize this project is a free gift to the open source community, but it makes it difficult to keep up to date with your code having to re-scrape everything without a migration process (which is fairly easily created with Django).

[2021-02-23 23:06] pombredanne commented on #356
@DjDeepDive
1. thank you for the kind words!

2. yes, we need stable migrations alright! I guess the schema is still evolving fast but that's not a reason. Django has superb migration support.

@sbs2001 ping me on Gitter when you come online tomorrow so we can sync, I think you made the migration in your latest PR an initial migration?

[2021-02-23 23:23] pombredanne commented on #356
@DjDeepDive with that said, if you can chip in to help too that would be mucho welcomed!

[2021-02-23 23:53] DjDeepDive commented on #356
Gladly.  What needs done?

[2021-02-24 05:53] oheger-bosch commented on #284
@pombredanne Great! This would indeed be the easiest solution for us.

[2021-02-24 10:42] sbs2001 opened #362 "Revisit DB field character limits"
The previous assumptions of max length required for package name, version failed

See https://github.com/nexB/vulnerablecode/blob/4193543bc54a58e5cd750f0ed5c5fbabd056e380/vulnerabilities/data_source.py#L513

https://github.com/nexB/vulnerablecode/blob/4193543bc54a58e5cd750f0ed5c5fbabd056e380/vulnerabilities/data_source.py#L519

We need to set new max lengths for these fields in the models.py

[2021-02-24 10:59] pombredanne commented on #362
@sbs2001 a good way may be to reuse the package url mixin that @tdruez crafted in https://github.com/package-url/packageurl-python/blob/291e11bea47f07616b94dc46eb489af4ba425658/src/packageurl/contrib/django/models.py#L115

Name and versions are 100 chars there and have been tested quite a bit in scancode.io AFAIK

[2021-02-24 14:35] sbs2001 commented on #356
Migrations are not included (mainly because there would be tons of them and schema is evolving), hence causing this problem.  As a short term fix on these, a fake migration via

[code]
would do the trick. But ofcourse this is a hack.

A proper solution would be to include all migrations in the repo

[2021-02-24 17:41] pombredanne commented on #356
@sbs2001 IMHO we should start including them, even with fast schema updates, they should work well enough. @tdruez what's your advice there?

[2021-02-24 18:01] tdruez commented on #356
I don't think it's a valid argument to not include migrations along code changes. Django provides ways to squash migrations when needed: https://docs.djangoproject.com/en/3.1/topics/migrations/#migration-squashing

As a side note, make sure to consolidate all the migrations of a branch into one file before merging a PR.

[2021-02-25 11:48] pombredanne commented on #356
@tdruez Thanks for the insights!

[2021-02-26 10:54] sbs2001 commented on #356
@tdruez  thanks for the link. We will start with real "squashed migrations" hence forth rather than creating one fresh ;)

Closing this I will take better care of migrations next time ;)

[2021-02-26 10:54] #356 closed

[2021-02-26 11:36] sbs2001 commented on #334
Realized immutable dataclasses are of limited value since they reduce flexibility in data sources and duplication is not a big issue

[2021-03-02 11:09] sbs2001 commented on #361
I'm considering https://github.com/jazzband/django-simple-history for logging model changes

[2021-03-04 02:24] uboznikov opened #366 "Relation "vulnerabilities_importer" already exists"
Hi there,

I have pulled from latest, then from https://github.com/nexB/vulnerablecode/issues/356 I tried to run both suggestions:

[code]

[code]

But I'm getting the following error:

[code]

At the moment is it still ok to use the codebase even with this error? Thanks.

[2021-03-04 02:46] uboznikov commented on #366
I tried to run migrations:

[code]

But I got:

[code]

Prints successful at the end but I got a bunch of errors which look like db-related.

[2021-03-04 10:50] #334 closed

[2021-03-04 14:47] sbs2001 commented on #119
After some experience with dephell, we want to switch to something else mainly because :

1. It is not maintained
2. Does not take the context of the ecosystem

I suggest to we create a wrapper library, which dispatches the comparision according to the ecosystem.

[2021-03-05 12:16] sbs2001 commented on #346
Fixed via https://github.com/nexB/vulnerablecode/commit/690a9d8780336fb85804125943222eab0531b648

[2021-03-05 12:16] #346 closed

[2021-03-05 12:35] sbs2001 commented on #119
Here are different specs and the libs which will take care of them

semver :- Used by rust, npm, ruby  . We will delegate this to https://github.com/python-semver/python-semver .
python version spec : Delegate to `packaging.version`
deb version ranges: Delegate to `https://github.com/TheClimateCorporation/python-dpkg` .
maven: Delegate to  https://github.com/dephell/dephell_specifier
rpms: https:/

[2021-03-05 12:37] sbs2001 commented on #366
@uboznikov  seems like my suggestion didn't work , I guess you'd have to start fro scratch. We will make sure the migrations are squashed and in the version control

[2021-03-05 12:37] #366 closed

[2021-03-08 12:23] sschuberth commented on #284
Sorry for being pushy, but any update here WRT the final implementation?

[2021-03-08 12:58] sbs2001 commented on #284
@sschuberth  ass suggested by @pombredanne  , I removed the bulk vulnerabilities api and embed everything in response for package.

Concretely :

For the request
[code]
The response looks like

[code]

[2021-03-08 12:59] sbs2001 commented on #284
The PR https://github.com/nexB/vulnerablecode/pull/369 which does this, is almost at a stage to be merged.

[2021-03-11 03:40] sbs2001 opened #372 "Use a more specific url for cvss qualitative severity system."
The url at is not specific.
https://github.com/nexB/vulnerablecode/blob/8cfb2bd5760d27259f425884926fec66a28798c2/vulnerabilities/severity_systems.py#L81

Use a more specific url `https://www.first.org/cvss/specification-document#Qualitative-Severity-Rating-Scale` instead

[2021-03-11 04:10] #351 closed

[2021-03-11 05:34] tushar912 commented on #372
Taking it up.

[2021-03-11 06:33] pombredanne commented on #119
Some comments:

- semver :- Used by rust, npm, ruby  . We will delegate this to https://github.com/python-semver/python-semver .
- python version spec : Delegate to `packaging.version`

- deb version ranges: Delegate to https://github.com/nexB/debian-inspector instead
  -  It contains the code from too https://github.com/TheClimateCorporation/python-dpkg but may be not the latest fixes in the  hea

[2021-03-11 13:16] pombredanne opened #374 "Add Openstack advisories"
See https://security.openstack.org/ossalist.html

[2021-03-11 14:14] #372 closed

[2021-03-11 14:28] sbs2001 commented on #374
@pombredanne   what are the package types for these ? PURL conversion  for eg  for https://security.openstack.org/ossa/OSSA-2019-004.html would be helpful.

[2021-03-11 14:29] sbs2001 commented on #349
Fixed via https://github.com/nexB/vulnerablecode/pull/369

[2021-03-11 14:29] #349 closed

[2021-03-11 14:30] sbs2001 commented on #320
The mentioned things are fixed for now. https://github.com/nexB/vulnerablecode/issues/344 tracks rest of the issues with the ui, hence closing this

[2021-03-11 14:30] #320 closed

[2021-03-11 16:54] sbs2001 commented on #284
https://github.com/nexB/vulnerablecode/pull/369 is merged. See  https://github.com/nexB/vulnerablecode/pull/369#issuecomment-796877606 for docs.

See https://github.com/nexB/vulnerablecode/blob/d8ce30e29c0d3257a1d00d89feb0afa753ba3f69/vulnerabilities/severity_systems.py#L26 for additional info about what the `scoring_system` means. That would be eventually documented separate from code.

Regarding

[2021-03-12 06:20] sbs2001 commented on #344
In the vulnerability view, for displaying vulnerable packages we need to avoid using discrete versions. Instead a expandable version range would be better, that will increase information density.

Here's a repaste from gitter chat on how to create version ranges from discrete version ranges

We can convert it into version ranges having a lowest common denominator of either the MAJOR, MINOR . In th

[2021-03-12 07:23] sbs2001 opened #375 "Get rid of bazillions of resolved/patched packages"
Security advisories usually provide a version range of packages which are vulnerable to some vulnerability. Currently we iterate over every available version of a package and check if it satisfies any of the given version range. If  it satisfies this range then  we treat this package version as vulnerable.

The versions which don't satisfy any range are treated as patched/resolved packages. This i

[2021-03-12 10:52] sschuberth commented on #284
I'm sorry, I don't really get the question; obviously a *blank* `source` (singular, not plural `sources`, right?) could be dropped. But I guess you're after the case then `source` is not really blank?

[2021-03-12 12:57] sbs2001 commented on #284
@sschuberth  I meant `"source": "",`

[2021-03-12 13:04] sschuberth commented on #284
Ok, but then I still do not get the question, sorry. If the `source` field is *always* blank, then I believe it's not question that it can be dropped. Or are you just asking to make sure the removal would not break ORT's client code, why might rely on the presence of this field (blank or not)?

In any case, TL;DR, if `source` field is *always* blank is can be dropped in my view.

[2021-03-14 04:36] sbs2001 opened #376 "Rename vuln_references field in Advisory dataclass and refactor it."
The advisory dataclass has a weirdly named field https://github.com/nexB/vulnerablecode/blob/d8ce30e29c0d3257a1d00d89feb0afa753ba3f69/vulnerabilities/data_source.py#L89
`vuln_references` .

We want to rename `vuln_references` to `references`. This should be refactored for, in all importers at https://github.com/nexB/vulnerablecode/tree/main/vulnerabilities/importers and ofcourse tests

[2021-03-14 04:41] #302 closed

[2021-03-15 03:29] sbs2001 commented on #244
https://github.com/nexB/vulnerablecode/pull/273 got squashed in https://github.com/nexB/vulnerablecode/commit/c944101c8b4dac2da9013ea2cf3f5c0b099d1a21 . This commit fixes the importer.

By defaut the safetydb importer is disabled due to licensing issue

[2021-03-15 03:29] #244 closed

[2021-03-15 03:41] #376 closed

[2021-03-15 03:45] sbs2001 commented on #284
@sschuberth  https://github.com/nexB/vulnerablecode/pull/369 is merged. See https://github.com/nexB/vulnerablecode/pull/369#issuecomment-796877606 for docs .

[2021-03-15 12:03] pombredanne commented on #119
Here is a proposed approach:

1. we need to define a spec for version specifiers and version ranges:

Universal version specifiers syntax:
   `<scheme>:<range>,<range>`

For instance:
    semver:1.2.3,>=2.0.0

With these operators and syntactic elements:

- Each range is declared this way:
    - "=": Version equality operator. Implied is not present: means version is equal to as in "=1.2.3"
    -

[2021-03-16 07:52] sbs2001 commented on #119
@pombredanne  I'm  doing the implementation  at https://github.com/sbs2001/universal-versions , we can move it to nexB GH org once significant progress is made.

`universal-versions` is just a placeholder and we can  change it alright

[2021-03-16 12:12] sbs2001 opened #380 "Display severities in the vulnerability view"
In the view at http://127.0.0.1:8000/vulnerabilities/<vulnerability_id> we need to display the severity obtained from various data sources.

The severity must be nested inside the reference to show the connection.

[2021-03-17 11:51] sbs2001 commented on #119
@pombredanne  regarding https://github.com/memory/python-dpkg/commit/1a7c022bb0d4b631241c98e526f88f178c243dcc . I don't want the whole module since it does many other things.  I  want to extract the method https://github.com/memory/python-dpkg/blob/1a7c022bb0d4b631241c98e526f88f178c243dcc/pydpkg/__init__.py#L529 and all it's dependencies.

How do I  document it's origins and license ?

[2021-03-17 16:25] Hritik14 commented on #348
Repaste from #379

@sbs2001 I think you're right. It is failing because the tests are only compatible with pytest version shipped with the project requirements.
Here is an asciinema reproducing my results:
[![asciicast](https://asciinema.org/a/WhwxQT9ANJQtvOo976mnqws6z.svg)](https://asciinema.org/a/WhwxQT9ANJQtvOo976mnqws6z)

As you can see, after first installation, `which pytest` points to the s

[2021-03-17 18:11] pombredanne commented on #119
Please use https://github.com/nexB/debian-inspector/ then , which is already a fork of the above https://github.com/nexB/debian-inspector/blob/master/src/debut/version.py

I would rather avoid having multiple forks of the same code in our projects and we can evolve it as needed, so please see if you can use this.

Wrt. the general question of the documentation of origin and license, see https://gi

[2021-03-17 18:13] pombredanne commented on #119
And if you want it in a dedicated library such as "debian-version" that's OK and we could extract it if needed as a shared library

[2021-03-18 04:15] sbs2001 commented on #119
@pombredanne  I could use https://github.com/nexB/debian-inspector/, but there are 2 issues with it.

1. It misses a fix for version comparision at https://github.com/memory/python-dpkg/commit/1a7c022bb0d4b631241c98e526f88f178c243dcc
2. It's pretty heavy, even `python-dpkg` is heavy. These libs have all the functionality to play with debs, which I don't care about in the context of `universal-vers

[2021-03-18 04:24] Pushpit07 opened #383 "Wrong key error when importing data from debian (using Docker while setup)"
I was setting up vulnerablecode using docker on macOS Big Sur. I ran `DJANGO_DEV=1 python manage.py import --all` to run all data importers as specified in the README and ran into this error-

File "/usr/local/lib/python3.8/site-packages/schema.py", line 396, in validate
        &nbsp;&nbsp;&nbsp;&nbsp;nvalue = Schema(svalue, error=e, ignore_extra_keys=i).validate(value)
  File "/usr/local/lib/pyt

[2021-03-18 04:29] sbs2001 commented on #383
@Pushpit07  this is a known bug I have https://github.com/nexB/vulnerablecode/pull/378 which fixes this. Will merge that once I narrow down what's causing failure in the redhat importer.

Atm that PR 's branch can run all importers except `redhat`

[2021-03-18 04:34] sbs2001 commented on #383
You could help in fixing the `redhat` importer btw, I'm occupied with another ticket atm.

From the logs at https://pipelines.actions.githubusercontent.com/Ep9prel8NYELDl3abhBbfgiORCbX0JuViN8i8esKzVS8DdQt5i/_apis/pipelines/1/runs/130/signedlogcontent/3?urlExpires=2021-03-18T04%3A34%3A23.9071130Z&urlSigningMethod=HMACV1&urlSignature=sJLXLRjUZZiPl5J24k1eE1Ljte7e79N3jahByMOwWS8%3D

The issue seems to

[2021-03-18 04:38] sbs2001 opened #384 "Fix KeyError in redhat importer"
The redhat importer is failing.

From the logs at https://pipelines.actions.githubusercontent.com/Ep9prel8NYELDl3abhBbfgiORCbX0JuViN8i8esKzVS8DdQt5i/_apis/pipelines/1/runs/130/signedlogcontent/3?urlExpires=2021-03-18T04%3A34%3A23.9071130Z&urlSigningMethod=HMACV1&urlSignature=sJLXLRjUZZiPl5J24k1eE1Ljte7e79N3jahByMOwWS8%3D

The issue is at
https://github.com/nexB/vulnerablecode/blob/8094f6e5fcea1023

[2021-03-18 04:38] sbs2001 commented on #383
FYI https://github.com/nexB/vulnerablecode/issues/384

[2021-03-18 05:36] Pushpit07 commented on #383
I've fixed #380. Have a look at that

[2021-03-18 05:37] Pushpit07 commented on #380
Opened a PR to add this feature

[2021-03-18 07:24] Pushpit07 commented on #380
Which field do you mean by severity in the VulnerabilitySeverity model?

[code]

[2021-03-18 07:24] Pushpit07 commented on #380
Is it the scoring_system?

[2021-03-18 09:19] sbs2001 commented on #380
We need both, the scoring_system and value

[2021-03-18 13:13] anshsrtv opened #386 "Fix docs URL in README.md"
The Readme states the following:

There isn't any such page found. It should be replaced by
[code]

[2021-03-18 14:17] sbs2001 commented on #386
That is fixed via https://github.com/nexB/vulnerablecode/pull/379

[2021-03-18 14:17] #386 closed

[2021-03-18 14:22] savish28 commented on #384
@sbs2001 Can I work on this?

[2021-03-18 14:25] sbs2001 commented on #384
@savish28  yes !

[2021-03-18 19:32] Ayushsunny commented on #78
Hellow @sbs2001 I would like to work on this issue

[2021-03-19 03:54] Pushpit07 commented on #224
Do you mean that the data here in this screenshot is to be scraped?

<img width="1306" alt="Screenshot 2021-03-19 at 09 23 52" src="https://user-images.githubusercontent.com/57194612/111729341-d846fb80-8894-11eb-9e53-7e0d7ab9b53b.png">

[2021-03-19 03:59] Pushpit07 commented on #103
What should be the format for data collection?

[2021-03-19 08:33] #384 closed

[2021-03-19 09:38] sbs2001 commented on #119
yes I would like that

[2021-03-19 10:14] sbs2001 commented on #119
@pombredanne  you're right about rpms,
 I missed the fact that the rpm package manager would be required for using https://pagure.io/rpmdevtools/blob/main/f/rpmdev-vercmp

Using https://github.com/sassoftware/python-rpm-vercmp would be least painful for me.

[2021-03-19 10:18] sbs2001 commented on #119
Implementing nuget and maven style intervals won't be necessary in the context of vulnerablecode, no data source uses it.

[2021-03-19 10:20] sbs2001 commented on #119
In context of vulnerablecode python, semver, deb versions are only needed

[2021-03-19 13:41] savish28 commented on #343
Hey @sbs2001 regarding this issue I am thinking of overriding the save method of `VulnerabilityReference` model and overriding the instance URL with `str(urlpy.parse(instance_url).canonical())`.
Secondly, Do we want something to be done regarding http/https?

[2021-03-20 05:02] sbs2001 commented on #119
@pombredanne  We don't need to implement maven and nuget style version ranges here. The datasources which provide data about vulnerable maven and nuget packages ie `github` use simple version ranges.

I need only https://github.com/sassoftware/pymaven/blob/1e69f50dc9ce3ac1ae3980e070f09e2505aa89f7/pymaven/versioning.py#L343 .

[2021-03-20 05:06] sbs2001 commented on #119
@pombredanne  the issue with  https://github.com/nexB/pymaven  is the same with  `debian inspector` . I want a piston and I'm importing a truck :)

[2021-03-20 06:02] sbs2001 commented on #119
PHP composer  most likely uses semver, see https://getcomposer.org/doc/articles/versions.md#testing-version-constraints , it mentions a semver validation utility .

See https://github.com/composer/semver , and composer is deendent on it see https://packagist.org/packages/composer/semver/dependents?order_by=downloads

[2021-03-20 19:11] Hritik14 opened #394 "No results in istio importer"
After running `python manage.py import istio` it says "Successfully imported data from istio" but nothing seems to have been imported.
There is a view from the web terminal.
![image](https://user-images.githubusercontent.com/7457065/111882888-13087b00-89de-11eb-8606-1a786b7eb8fd.png)
![image](https://user-images.githubusercontent.com/7457065/111882892-1e5ba680-89de-11eb-957d-0d5f02007845.png)

[2021-03-21 00:34] Hritik14 commented on #394
Digging further, the entries were never commited to the database. I'll keep looking.
[code]

[2021-03-22 09:26] uboznikov opened #396 ""Got an unexpected keyword argument 'cve_id'"."
I ran into this error when importing `msr2019`.

![image](https://user-images.githubusercontent.com/16329085/111967118-9e932080-8b32-11eb-8f3e-8335429693f5.png)

[2021-03-22 09:40] sbs2001 commented on #396
@uboznikov  https://github.com/nexB/vulnerablecode/pull/378 fixes that error. Can't merge it since we have some problems in repo permissions. Will do once that is resolved.

[2021-03-22 09:45] uboznikov commented on #396
@sbs2001 Thanks.

Also, this column `cve_id` seems to have been removed; has it been completely removed or moved to another table?

[2021-03-22 10:22] sbs2001 commented on #343
@savish28 thanks for looking into this,  your approach would indeed make things better.

As for dealing with `http vs https`  we could either

1. Have a script which removes the duplicates ?
or
2.We could also override the save method to check for the same canonical url except with `https`/`http` and do things accordingly.
If provided url is http but we already have the url with https we ignore th

[2021-03-24 03:47] sbs2001 commented on #396
@uboznikov  that's renamed to  `vulnerability_id`

[2021-03-24 03:56] sbs2001 commented on #396
Fixed via https://github.com/nexB/vulnerablecode/pull/378

[2021-03-24 03:56] #396 closed

[2021-03-24 03:57] sbs2001 commented on #383
Fixed via https://github.com/nexB/vulnerablecode/pull/378

[2021-03-24 03:57] #383 closed

[2021-03-24 04:23] sbs2001 opened #398 "Investigate and fix redhat import failure"
The redhat importer is still failing after the fix at https://github.com/nexB/vulnerablecode/pull/387.

From  the logs at https://pipelines.actions.githubusercontent.com/Ep9prel8NYELDl3abhBbfgiORCbX0JuViN8i8esKzVS8DdQt5i/_apis/pipelines/1/runs/151/signedlogcontent/3?urlExpires=2021-03-24T04%3A20%3A33.2100559Z&urlSigningMethod=HMACV1&urlSignature=7VXaMaJelaCEUG6EDzDbZKLAw%2BfWbGUypuHe164RCjE%3D

It

[2021-03-24 07:59] AmitGupta7580 commented on #380
I have added the severity and scoring sytem field in vulnerability.html templete. Can I create a new PR.

![ui](https://user-images.githubusercontent.com/57043342/112274535-9bb83d00-8ca4-11eb-9995-098744581358.png)

[2021-03-24 08:36] sbs2001 commented on #380
@AmitGupta7580  @Pushpit07  is already working on this at https://github.com/nexB/vulnerablecode/pull/390 . We need some help with design there, see the comments there, any help would be appreciated :)

[2021-03-24 09:49] Hritik14 commented on #398
I'm working on it

[2021-03-24 19:11] AmitGupta7580 commented on #284
Hello everyone,
I have a idea regarding BULK_SEARCH API.
Can we make "/api/package/" available for POST requests also which accepts purl's in its request rather than fetching from separate API "/api/package/bulk_search/" ?

We can also extend this idea for "/api/vulnerability/" API also to get vulnerabilities in bulk.

[2021-03-25 01:24] Hritik14 opened #399 "Invalid ids appearing as vulnerability id in msr2019"
Ids such as `CVE-2011-4461-JETTY` are appearing as vulnerability id which are clearly not valid CVEs.
It can be mitigated by either
- Using `is_cve` helper and the `.group(0)` to get the matching cve
- Adding `$` in is_cve helper making it `r"CVE-\d+-\d+$"` in order to avoid any invalid matches.

[2021-03-25 04:13] sbs2001 commented on #399
@Hritik14  that's a good find.

[2021-03-25 04:22] sbs2001 commented on #284
@AmitGupta7580

I'm sorry, could you elaborate ` rather than fetching from separate API` part more ?

[2021-03-25 06:17] AmitGupta7580 commented on #284
I m just suggesting to add a new method in \api\package instead of adding new name.

API looks like this:
![image](https://user-images.githubusercontent.com/57043342/112427334-72101c00-8d5f-11eb-806d-3e1aee3f42a5.png)

POSTMAN
![image](https://user-images.githubusercontent.com/57043342/112427559-cadfb480-8d5f-11eb-8324-7561e0fe6077.png)

[2021-03-25 06:51] sbs2001 commented on #284
@AmitGupta7580  I see, but `/api/packages` is for a GET request to search packages.

[2021-03-25 09:03] AmitGupta7580 commented on #284
It's ok I am just suggesting an alternative.

Can I create a PR to add docs of BULK_SEARCH API in Swagger View ?

[2021-03-25 09:08] MarcelBochtler commented on #284
Hi @AmitGupta7580 adding this endpoint as `POST` to `/api/packages` was discussed [earlier in this issue](https://github.com/nexB/vulnerablecode/issues/284#issuecomment-756077015).
I was opposing this solution with the following reasoning:

[2021-03-25 09:17] AmitGupta7580 commented on #284
Oh sorry I haven't read your comment . Yes, that is also a very good idea.

[2021-03-25 10:21] sbs2001 commented on #284
@AmitGupta7580

That would be awesome !

[2021-03-26 13:11] sbs2001 commented on #119
To fork:
https://github.com/nexB/debian-inspector/blob/main/src/debian_inspector/version.py#L356
https://github.com/sassoftware/pymaven/blob/1e69f50dc9ce3ac1ae3980e070f09e2505aa89f7/pymaven/versioning.py#L343
https://github.com/rbarrois/python-semanticversion (We could just use the whole lib)

VulnerableCode doesn't require to compare rpm versions, but since this is going to be used outside of vul

[2021-03-26 18:08] tardyp opened #403 "run vulnerablecode behind proxy"
Looking at deploying this in a proxy protected environment I figured that the import will not work behind proxy

the rootcause is pygit2 which does not support proxy. There is experimental support in the mainline, but it is not yet released.
https://github.com/libgit2/pygit2/pull/1063

In general, I would respectfully question the use of pygit2 in favor gitpython.

Being backed by standard git mak

[2021-03-27 16:29] Hritik14 commented on #398
Update: I ran the importer for 6 hours straight and it wasn't responding after the fetching.
Either the amount of advisories is so high that it's taking lot of time to actually import   (https://github.com/nexB/vulnerablecode/issues/210) or it's something else.

I'll investigate further by Monday.

[2021-03-28 13:15] vignesh-cloud-prog commented on #343
Can i take up this

[2021-03-29 03:37] sbs2001 commented on #343
@savish28  are you working on this ?

@vignesh-cloud-prog  this is a non trivial issue btw (not a good first )

[2021-03-29 04:53] sbs2001 commented on #403
@tardyp

That's a nice find. Needs to be fixed soon.

I'm not super familiar with the pygit2 code we have here, but I guess at the time  pygit2 was used due to existing familiarity and sketched out a quick working prototype. We can always iterate and improve.

Yes !! That would be great.

@pombredanne  ping to you

[2021-03-29 05:52] savish28 commented on #343
@sbs2001 Yes, I would open a PR in some time.

[2021-03-29 10:25] tardyp commented on #403
PR done, with unit test working for now.  Pubishing for early review

I'll be working this afternoon in running it with some real data

[2021-03-29 11:04] Hritik14 opened #410 "Vulnerablecode useragent"
Much of what we're doing now is scraping the webpages for the required information. Doing such activity without even declaring who we are might not be seen as a very good practice.
We need to settle on a useragent choice. Some websites even block regular scraper useragents. There are two solutions I can think of:

- One consistent and custom useragent
- A list of browser user agents

There could e